<footer class="footer">
    <div class="container">
        <div class="footer__main">
            <div class="footer-top">
                <div class="footer-col20">
                    @@include('../bem/_logo.html')
                    <div class="cont-block">
                        <div class="cont-row">
                            <svg class="cont__icon">
                                <use xlink:href="/img/sprite.svg#instagram"></use>
                            </svg>
                            <a href="" class="cont__mail link-base text-xs">@Abon_Inst_Info</a>
                        </div>
                        <div class="cont-row">
                            <svg class="cont__icon">
                                <use xlink:href="/img/sprite.svg#email"></use>
                            </svg>
                            <a href="mailto:abon@mail.ru" class="cont__mail link-base text-xs">Abon@mail.ru</a>
                        </div>
                    </div>
                </div>
                <div class="footer-col80">
                    <div class="footer-col30">
                        <span class="text-xs">РАЗДЕЛЫ</span>
                        <ul class="footer-col30__list">
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">Каталог</a></li>
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">Объявления</a></li>
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">Каталог</a></li>
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">Акции</a></li>
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">Мероприятия</a></li>
                        </ul>
                    </div>
                    <div class="footer-col30">
                        <span class="text-xs">ПОМОЩЬ И СЕРВИС</span>
                        <ul class="footer-col30__list">
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">Помощь</a></li>
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">Подать заявку</a></li>
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">Поддержка</a></li>
                        </ul>
                    </div>
                    <div class="footer-col30">
                        <span class="text-xs" >ИНФОРМАЦИЯ</span>
                        <ul class="footer-col30__list">
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">г. Минск, ул. Захарова, 77а,офис 7</a>
                            </li>
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">УНП 193264655</a></li>
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">Пн-Пт: 10:00-19:00</a></li>
                            <li class="footer-col30__item"><a href="##" class="link-base text-xs">Сб, Вс – выходной</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
                <div class="footer-icon__list">
                    <div class="footer-icon__el">
                        <img src="/img/visa.png" alt="">
                    </div>
                    <div class="footer-icon__el">
                        <img src="/img/master-card.png" alt="">
                    </div>
                    <div class="footer-icon__el">
                        <img src="/img/erip.png" alt="">
                    </div>
                    <div class="footer-icon__el">
                        <img src="/img/bepaid.png" alt="">
                    </div>
                    <div class="footer-icon__el">
                        <img src="/img/belcart.png" alt="">
                    </div>
                    <div class="footer-icon__el">
                        <img src="/img/vector.png" alt="">
                    </div>
                    <div class="footer-icon__el">
                        <img src="/img/belcart.png" alt="">
                    </div>
                    <div class="footer-icon__el">
                        <img src="/img/mtbank.png" alt="">
                    </div>
                    <div class="footer-icon__el">
                        <img src="/img/ipay.png" alt="">
                    </div>
                </div>
                <p class="footer-desc text-xxs">
                    <a href="##" class="link-base text-xxs">Abonemet.by</a> не является интернет-магазином. Для покупки товара обратитесь к продавцу по данным из
                        карточки, которые размещены в
                        карточке Организации. Если у вас возникли вопросы по работе портала, вы можете задать их по
                        номеру <a href="tel:+375292345678" class="link-base text-xxs">+375 (29) 234‑56‑78</a>
                </p>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom__col70">
                    <div class="footer-logo">
                        <img src="/img/logo-footer.svg" alt="">
                    </div>
                    <div class="footer-info">
                        <div class="footer-info__copy text-xxs">© Все права защищены 2020</div>
                        <a href="##" class="footer-info__policy link-base text-xxs">Политика конфиденциальности</a>
                    </div>
                </div>
                <div class="footer-bottom__col30 soc-block">
                    <a href="##" class="soc-block__title link-base text-xxs">Подписывайтесь</a>
                    @@include('../bem/_soc-list.html')
                </div>
            </div>
        </div>
        @@include('../bem/_chat-circle.html')
        @@include('../bem/_arrow-up.html')
        <div class="modal-window__chat js-info-block" data-block="info-block2">
            <div class="modal-window__content modal-window__content--chat">
                <div class="modal-inner">
                    <p class="modal-inner__title">Служба поддержки</p>
                    <div class="chat-btns">
                        <div class="chat-btn" type="button">
                            <span class="chat-btn__ic">
                                <svg viewBox="0 0 22 22">
                                    <use xlink:href="/img/sprite.svg#help-c"></use>
                                </svg>
                            </span>
                            <span class="chat-btn__title">Помощь</span>
                        </div>
                        <div class="chat-btn js-chat-btn js-close-info-block js-open-md" data-opn="help-chat" data-hidden="info-block2"  type="button">
                            <span class="chat-btn__ic">
                                <svg viewBox="0 0 22 22">
                                    <use xlink:href="/img/sprite.svg#message"></use>
                                </svg>
                            </span>
                            <span class="chat-btn__title">Создать заявку</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay js-overlay-info-block" data-overlay="info-block2"></div>
    </div>
</footer>
<div class="modal-window__chat-help js-modal-window" data-md="help-chat">
    <div class="modal-window__close js-close-md" data-cls="help-chat">
        <svg viewBox="0 0 53 53">
            <use xlink:href="/img/sprite.svg#x-circle"></use>
        </svg>
    </div>
    <div class="modal-window__content modal-window__content--chat-help">
        <div class="modal-window__close modal-window__close--mob js-close-md" data-cls="help-chat">
            <svg viewBox="0 0 53 53">
                <use xlink:href="/img/sprite.svg#x-circle"></use>
            </svg>
        </div>
        <div class="modal-inner">
            <p class="modal-inner__title">Помощь</p>
            <form action="" class="row-acc__form row-acc__form--chat-help">
                <div class="row-acc__col50--title">Какой у вас вопрос?</div>
                <p class="label-light">
                    <label class="label-light__title">Выберите тему</label>
                </p>
                <div class="select-wrapper input-light__mb15">
                    <div class="select select-light js-select">
                        <div class="select__header js-select__header">
                            <div class="select__current js-select__current"></div>
                            <div class="select__ic-wrap">
                                <span class="select__icon js-select__icon">
                                    <svg viewBox="0 0 16 10">
                                        <use xlink:href="/img/sprite.svg#arr-down"></use>
                                    </svg>
                                </span>
                                <span class="select__icon--close js-select__icon--close">
                                    <svg viewBox="0 0 22 22">
                                        <use xlink:href="/img/sprite.svg#circle-close"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="select__body js-select__body">
                            <div class="select__item js-select__item">1</div>
                            <div class="select__item js-select__item">2</div>
                            <div class="select__item js-select__item">3</div>
                        </div>
                    </div>
                </div>
                <p class="label-light">
                    <label class="label-light__title">Выберите подтему</label>
                </p>
                <div class="select-wrapper input-light__mb15">
                    <div class="select select-light js-select">
                        <div class="select__header js-select__header">
                            <div class="select__current js-select__current"></div>
                            <div class="select__ic-wrap">
                                <span class="select__icon js-select__icon">
                                    <svg viewBox="0 0 16 10">
                                        <use xlink:href="/img/sprite.svg#arr-down"></use>
                                    </svg>
                                </span>
                                <span class="select__icon--close js-select__icon--close">
                                    <svg viewBox="0 0 22 22">
                                        <use xlink:href="/img/sprite.svg#circle-close"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="select__body js-select__body">
                            <div class="select__item js-select__item">1</div>
                            <div class="select__item js-select__item">2</div>
                            <div class="select__item js-select__item">3</div>
                        </div>
                    </div>
                </div>
                <p class="label-light">
                    <label class="label-light__title">Опишите что случилось</label>
                </p>
                <div class="input-light__wrap">
                    <textarea type="text" id="ac-info" placeholder="" class="form-textarea__light input-light__mb15"></textarea>
                </div>
                <div class="row-acc__form-row row-acc__form-row--bottom">
                    <div class="row-acc__form-col row-acc__form-col--100">
                        <div class="row-acc__form-col row-acc__form-col--wrap">
                            <p class="label-light">
                            <span class="form-row__icon">
                                <svg class="icon-svg">
                                    <use xlink:href="/img/sprite.svg#file"></use>
                                </svg>
                            </span>
                                <span class="label-light__file">Перетащите файл или</span>
                            </p>
                            <input type="file" id="md-file" class="form-row__file form-row__file--btn">
                            <label for="md-file" class="label-light__title">Загрузите</label>
                        </div>
                        <div class="row-acc__form-desc">Максимум 5 файлов до 10 МБ каждый</div>
                    </div>
                </div>
                <a href="#" class="button-rect btn-blue js-close-md js-open-md" data-opn="help-chat-submit" data-cls="help-chat" >Далее</a>
            </form>
        </div>
    </div>
</div>
<div class="modal-window__chat-help js-modal-window" data-md="help-chat-submit">
    <div class="modal-window__close js-close-md" data-cls="help-chat-submit">
        <svg viewBox="0 0 53 53">
            <use xlink:href="/img/sprite.svg#x-circle"></use>
        </svg>
    </div>
    <div class="modal-window__content modal-window__content--chat-help modal-window__content--chat-help-submit">
        <div class="modal-window__close modal-window__close--mob js-close-md" data-cls="help-chat-submit">
            <svg viewBox="0 0 53 53">
                <use xlink:href="/img/sprite.svg#x-circle"></use>
            </svg>
        </div>
        <div class="modal-inner">
            <p class="modal-inner__title">Помощь</p>
            <div class="modal-inner__img">
                <img src="img/submit-img.svg" alt="">
            </div>
            <div class="row-acc__col50--title">Заявка отправлена!</div>
            <p class="row-acc__col50--subtitle">
               Спасибо что отправили заявку мы скоро с Вами свяжемся.
            </p>
            <button class="button-rect btn-blue js-close-md" data-cls="help-chat-submit">Закрыть</button>
        </div>
    </div>
</div>
