<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__container">
                <div class="header__left">
                    @@include('../bem/_logo.html')
                    <div class="header__location-change location-change js-location-modal-link">
                        <span class="location-change__icon">
                            <svg class="icon-svg">
                                <use xlink:href="/img/sprite.svg#location"></use>
                            </svg>
                        </span>
                        <span class="location-change__text">Минск</span>
                    </div>
                    <div class="location-change-modal js-location-change-modal">
                        <div class="location-change-modal__content">
                            <div class="location-change-modal__text">Ваш город Минск?</div>
                            <div class="location-change-modal__btns">
                                <button class="button-rect button-rect--xs btn-blue button-xs js-location-modal-link-close">Да</button>
                                <button class="button-rect button-rect--xs btn-white button-xs">Изменить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__center">
                    <div class="header__search-form search form js-header-search-form">
                        <form action="" class="search__form">
                            <div class="form__field search__field">
                                <input type="text" name="" class="search__input form__input"
                                       placeholder="Поиск по сайту">
                                <span class="search__icon search__icon-header hidden-md js-search-toggle">
                                     <svg class="icon-svg">
                                        <use xlink:href="/img/sprite.svg#search"></use>
                                     </svg>
                                </span>
                                <button class="search__button">
                                    <span class="search__icon">
                                         <svg class="icon-svg">
                                            <use xlink:href="/img/sprite.svg#search"></use>
                                         </svg>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header__right">
                    <div class="header__cont-block cont-block">
                        <div class="cont-row">
                            <svg class="cont__icon">
                                <use xlink:href="/img/sprite.svg#instagram"></use>
                            </svg>
                            <a href="" class="cont__mail text-xxxs">@Abon_Inst_Info</a>
                        </div>
                        <div class="cont-row">
                            <svg class="cont__icon">
                                <use xlink:href="/img/sprite.svg#email"></use>
                            </svg>
                            <a href="mailto:abon@mail.ru" class="cont__mail text-xxxs">Abon@mail.ru</a>
                        </div>
                    </div>
                    <button class="btn-add-company">
                        <span class="btn-add-company__text">Добавить компанию</span>
                        <svg class="btn-add-company__icon icon-svg">
                            <use xlink:href="/img/sprite.svg#icon-plus"></use>
                        </svg>
                    </button>
                </div>
                <div class="header__mobile-right">
                    <a href="#" class="header__mobile-right-icon">
                        <svg class="icon-svg">
                            <use xlink:href="/img/sprite.svg#icon-cart"></use>
                        </svg>
                    </a>
                    <div class="header__mobile-right-icon burger js-mobile-menu-toggle">
                        <svg class="burger__open icon-svg">
                            <use xlink:href="/img/sprite.svg#burger"></use>
                        </svg>
                        <svg class="burger__close icon-svg">
                            <use xlink:href="/img/sprite.svg#close"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('../bem/_top-menu.html')
    @@include('../bem/_mobile-menu.html')
    <div class="modal-window modal-window--reg-auth js-modal-window" data-md="reg-auth" style="background-image: url('/img/reg-bg.png');">
        <div class="modal-window__content modal-window__content--reg">
            <div class="modal-window__close js-close-md" data-cls="reg-auth">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <form class="modal-window__form reg-auth__form">
                <div class="md-cart-form__title">Войдите по почте</div>
                <p class="label-light">
                    <label for="md-email" class="label-light__title">Электронная почта</label>
                </p>
                <input type="text" id="md-email" class="input-light input-light__mb25">
                <button class="button-rect btn-blue">Получить ссылку</button>
                <a href="#" class="modal-window__form--link">Вернуться на главный экран</a>
            </form>
        </div>
    </div>
    <div class="modal-window modal-window--entrance js-modal-window" data-md="entrance" style="background-image: url('/img/reg-bg.png');">
        <div class="modal-window__content modal-window__content--reg">
            <div class="modal-window__close js-close-md" data-cls="entrance">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <form class="modal-window__form modal-window__form--reg">
                <div class="md-cart-form__title">Вход</div>
                <p class="label-light">
                    <label for="md-email2" class="label-light__title">Email</label>
                    <span class="label-light__symbol">*</span>
                </p>
                <input type="text" id="md-email2" class="input-light input-light__mb25">
                <p class="label-light">
                    <label for="md-password2" class="label-light__title">Пароль</label>
                    <span class="label-light__symbol">*</span>
                </p>
                <input type="text" id="md-password2" class="input-light">
                <a href="#" class="password-link input-light__mb25 js-open-md js-close-md" data-cls="entrance">Забыли пароль?</a>
                <a href="#" class="button-rect btn-blue js-open-md js-close-md input-light__mb25" data-cls="entrance">Войти</a>
                <a href="#" class="modal-window__form--link js-open-md js-close-md" data-cls="entrance" data-opn="reg">Зарегестрироваться</a>
            </form>
        </div>
    </div>
    <div class="modal-window modal-window--entrance js-modal-window" data-md="reg" style="background-image: url('/img/reg-bg.png');">
        <div class="modal-window__content modal-window__content--complete-reg">
            <div class="modal-window__close js-close-md" data-cls="reg">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <form class="modal-window__form modal-window__form--complete-reg">
                <div class="md-cart-form__title">Завершить регистрацию</div>
                <div class="modal-window__form-row">
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-city2" class="label-light__title">Город</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="text" id="md-city2" class="input-light input-light__mb25">
                    </div>
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-comp-name" class="label-light__title">Юридическое название компании</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="text" id="md-comp-name" class="input-light input-light__mb25">
                    </div>
                </div>
                <div class="modal-window__form-row">
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-subname" class="label-light__title">Название, которое увидит покупатель</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="text" id="md-subname" class="input-light input-light__mb25">
                    </div>
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-email2" class="label-light__title">Телефон</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="tel" id="md-phone" class="input-light input-light__mb25">
                    </div>
                </div>
                <button class="button-rect btn-blue js-close-md" data-cls="reg">Готово</button>
                <a href="#" class="modal-window__form--link js-close-md" data-cls="reg">Выйти из профиля</a>
            </form>
        </div>
    </div>
<!-- add to the button (js-open-md && data-opn="no-active"), on click of which this modal window will be called-->
    <div class="modal-window modal-window--entrance js-modal-window" data-md="no-active">
        <div class="modal-window__content modal-window__content--no-active">
            <div class="modal-window__close js-close-md" data-cls="no-active">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <div class="row-acc__col25-top">
                <span class="row-acc__list-icon">
                    <svg>
                        <use xlink:href="/img/sprite.svg#notif-c"></use>
                    </svg>
                </span>
                <span class="row-acc__col25-title">Аккаунт не активирован!</span>
            </div>
            <p class="row-acc__col25--desc input-light__mb25">Напоминаем, что для начала продаж вам необходимо заполнить и
                отправить на проверку данные о компании. Обычно это занимает один рабочий день</p>
            <a href="#" class="button-rect btn-blue input-light__mb25 js-close-md" data-cls="no-active">Заполнить документы</a>
            <button class="modal-window__form--link js-close-md" data-cls="no-active">Напомнить позже</button>
        </div>
    </div>
    <!-- add to the button (js-open-md && data-opn="check-email"), on click of which this modal window will be called-->
    <div class="modal-window modal-window--entrance js-modal-window" data-md="check-email">
        <div class="modal-window__content modal-window__content--check-email">
            <div class="modal-window__close js-close-md" data-cls="check-email">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <div class="row-acc__col25-top">
                <span class="row-acc__list-icon">
                    <svg>
                        <use xlink:href="/img/sprite.svg#notif-c"></use>
                    </svg>
                </span>
                <span class="row-acc__col25-title">Проверьте адрес электронной почты!</span>
            </div>
            <p class="row-acc__col25--desc input-light__mb25">Мы отправили письмо со ссылкой для подтверждения.
                Если письмо не пришло, проверьте папку со спамом. Если письма там нет, напишите нам
                PRIMERHELP@TUT.BY или поробуйте зарегестрироваться с другой почты в лучшее времядля вас</p>
            <a href="#" class="modal-window__form--link js-close-md" data-cls="no-active">Назад</a>
        </div>
    </div>
</header>
