<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__container">
                <div class="header__left">
                    @@include('../bem/_logo.html')
                    <div class="header__logo-mob">
                        @@include('../bem/_logo-mob.html')
                    </div>
                    <div class="header__location-change location-change js-location-modal-link">
                        <span class="location-change__icon">
                            <svg class="icon-svg">
                                <use xlink:href="/img/sprite.svg#location"></use>
                            </svg>
                        </span>
                        <span class="location-change__text">Минск</span>
                    </div>
                    <div class="location-change-modal js-location-change-modal">
                        <div class="location-change-modal__content">
                            <div class="location-change-modal__text">Ваш город Минск?</div>
                            <div class="location-change-modal__btns">
                                <button class="button-rect button-rect--xs btn-blue button-xs js-location-modal-link-close">
                                    Да
                                </button>
                                <button class="button-rect button-rect--xs btn-white button-xs js-location-link-list js-open-md"
                                        data-opn="modal-country">Изменить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__center">
                    <div class="header__search-form search form js-header-search-form">
                        <form action="" class="search__form">
                            <div class="form__field search__field">
                                <input type="text" name="" class="search__input form__input"
                                       placeholder="Поиск по сайту">
                                <span class="search__icon search__icon-header hidden-md js-search-toggle">
                                     <svg class="icon-svg">
                                        <use xlink:href="/img/sprite.svg#search"></use>
                                     </svg>
                                </span>
                                <button class="search__button">
                                    <span class="search__icon">
                                         <svg class="icon-svg">
                                            <use xlink:href="/img/sprite.svg#search"></use>
                                         </svg>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header__right">
                    <div class="header__cont-block cont-block">
                        <div class="cont-row">
                            <a href="##" class="cont__mail text-xxxs">
                                <svg class="cont__icon">
                                    <use xlink:href="/img/sprite.svg#instagram"></use>
                                </svg>@Abon_Inst_Info</a>
                        </div>
                        <div class="cont-row">
                            <a href="mailto:abon@mail.ru" class="cont__mail text-xxxs">
                                <svg class="cont__icon">
                                    <use xlink:href="/img/sprite.svg#email"></use>
                                </svg>Abon@mail.ru</a>
                        </div>
                    </div>
                    <a href="/add-company.html" class="btn-add-company">
                        <span class="btn-add-company__text">Добавить компанию</span>
                        <svg class="btn-add-company__icon icon-svg">
                            <use xlink:href="/img/sprite.svg#icon-plus"></use>
                        </svg>
                    </a>
                </div>
                <div class="header__mobile-right">
                    <a href="#" class="header__mobile-right-icon js-open-md" data-opn="md-cart-order">
                        <svg class="icon-svg">
                            <use xlink:href="/img/sprite.svg#icon-cart"></use>
                        </svg>
                    </a>
                    <a href="#" class="header__mobile-right-icon js-open-md" data-opn="auth">
                        <svg class="icon-svg">
                            <use xlink:href="/img/sprite.svg#lk"></use>
                        </svg>
                    </a>
                    <div class="header__mobile-right-icon burger js-mobile-menu-toggle">
                        <svg class="burger__open icon-svg">
                            <use xlink:href="/img/sprite.svg#burger"></use>
                        </svg>
                        <svg class="burger__close icon-svg">
                            <use xlink:href="/img/sprite.svg#close"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('../bem/_top-menu.html')
    @@include('../bem/_mobile-menu.html')

    <!-- Формы реги и авторизации -->
    <div class="modal-window modal-window--reg-auth js-modal-window" data-md="pass-changed"
         style="background-image: url('/img/reg-bg.png');">
        <div class="modal-window__content modal-window__content--base">
            <form class="modal-window__form reg-auth__form">
                <p class="label-dark">Введите ваш Email и мы вышлем вам новый пароль на почту</p>
                <p class="label-light">
                    <label for="md-email" class="label-light__title">Email</label>
                    <span class="label-light__symbol">*</span>
                </p>
                <input type="text" id="md-email" class="input-light input-light__mb25">
                <button class="button-rect button-rect--height button-rect--xs btn-yellow m0">Отправить</button>
            </form>
        </div>
    </div>
    <div class="modal-window modal-window--reg-auth js-modal-window" data-md="reg-auth"
         style="background-image: url('/img/reg-bg.png');">
        <div class="modal-window__content modal-window__content--reg">
            <div class="modal-window__close js-close-md" data-cls="reg-auth">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <form class="modal-window__form reg-auth__form">
                <div class="md-cart-form__title">Войдите по почте</div>
                <p class="label-light">
                    <label for="md-email" class="label-light__title">Электронная почта</label>
                </p>
                <input type="text" id="md-email" class="input-light input-light__mb8">
                <button class="button-rect btn-blue">Получить ссылку</button>
                <a href="#" class="modal-window__form--link">Вернуться на главный экран</a>
            </form>
        </div>
    </div>
    <div class="modal-window modal-window--reg-auth js-modal-window" data-md="reg">
        <div class="modal-window__content modal-window__content--complete-reg">
            <div class="modal-window__close js-close-md" data-cls="reg">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <form class="modal-window__form modal-window__form--complete-reg">
                <div class="md-cart-form__title">Регистрация</div>
                <div class="modal-window__form-row">
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-city2" class="label-light__title">Имя</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="text" id="md-city2" class="input-light input-light__mb8">
                    </div>
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-comp-name" class="label-light__title">Email</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="text" id="md-comp-name" class="input-light input-light__mb8">
                    </div>
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-comp-name" class="label-light__title">Телефон</label>
                        </p>
                        <input type="text" id="md-comp-name" class="input-light input-light__mb8">
                    </div>
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-comp-name" class="label-light__title">Пароль</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="text" id="md-comp-name" class="input-light input-light__mb8">
                    </div>
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-comp-name" class="label-light__title">Повторите пароль</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="text" id="md-comp-name" class="input-light input-light__mb8">
                    </div>
                    <p class="label-light label-light--policy">
                        <input type="checkbox" id="md-policy" checked="checked" class="styled-checkbox policy-checkbox">
                        <label for="md-policy" class="md-cart-form__label-policy">Я соглашаюсь с
                            <a href="" class="policy-link">Пользовательским cоглашением</a> и с <a href=""
                                                                                                   class="policy-link">Правилами
                                обработки персональных данных</a> в соответствии с Политикой конфиденциальности</label>
                    </p>
                </div>
                <button class="button-rect btn-blue js-close-md" data-cls="reg">Продолжить</button>
            </form>
        </div>
    </div>

    <div class="modal-window modal-window--entrance js-modal-window" data-md="auth"
         style="background-image: url('/img/reg-bg.png');">
        <div class="modal-window__content modal-window__content--reg">
            <div class="modal-window__close js-close-md" data-cls="auth">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <form class="modal-window__form modal-window__form--reg">
                <div class="md-cart-form__title">Вход</div>
                <p class="label-light">
                    <label for="md-name2" class="label-light__title">Имя</label>
                    <span class="label-light__symbol">*</span>
                </p>
                <input type="text" id="md-name2" class="input-light input-light__mb8 form__error-field">

                <p class="label-light">
                    <label for="md-email2" class="label-light__title">Email</label>
                    <span class="label-light__symbol">*</span>
                </p>
                <input type="text" id="md-email2" class="input-light input-light__mb8">
                <p class="label-light label-light--policy">
                    <input type="checkbox" id="md-policy" checked="checked" class="styled-checkbox policy-checkbox">
                    <label for="md-policy" class="md-cart-form__label-policy">Я соглашаюсь с
                        <a href="" class="policy-link">Пользовательским cоглашением</a> и с <a href=""
                                                                                               class="policy-link">Правилами
                            обработки персональных данных</a> в соответствии с Политикой конфиденциальности</label>
                </p>
                <a href="#" class="button-rect button-rect--xs btn-blue js-open-md js-close-md input-light__mb35"
                   data-cls="auth">Продолжить</a>
                <a href="#" class="password-link input-light__mb25 js-open-md js-close-md" data-opn="pass-changed" data-cls="auth">Забыли
                    пароль?</a>

            </form>
        </div>
    </div>
    <div class="modal-window modal-window--country js-modal-window" data-md="modal-country">
        <div class="modal-window__content modal-window__content-country">
            <div class="modal-window__close js-close-md" data-cls="modal-country">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <form class="modal-window__form">
                <div class="menu-filter__content">
                    <div class="menu-filter-search">
                        <div class="search form">
                            <form action="" class="search__form">
                                <div class="form__field search__field">
                                    <input type="text" name="" class="search__input form__input"
                                           placeholder="Поиск по сайту">
                                    <button class="search__button">
                                        <span class="search__icon">
                                             <svg class="icon-svg">
                                                <use xlink:href="/img/sprite.svg#search"></use>
                                             </svg>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="menu-filter-search__catalog-alpha">
                        <div class="catalog-alpha catalog-alpha__modal-city js-modal-city">
                            <div class="catalog-alpha-row">
                                <div class="catalog-alpha-list__header">
                                    <span>А</span>
                                </div>
                                <ul class="catalog-alpha-col">
                                    <li>
                                        <a href="#">Августово</a>
                                    </li>
                                    <li>
                                        <a href="#">Александровка</a>
                                    </li>
                                    <li>
                                        <a href="#">Александрово</a>
                                    </li>
                                    <li>
                                        <a href="#">Антоново</a>
                                    </li>
                                    <li>
                                        <a href="#">Апчак</a>
                                    </li>
                                </ul>
                                <div class="catalog-alpha-list__header">
                                    <span>Б</span>
                                </div>
                                <ul class="catalog-alpha-col">
                                    <li>
                                        <a href="#">Баравуха</a>
                                    </li>
                                    <li>
                                        <a href="#">Барановичи</a>
                                    </li>
                                    <li>
                                        <a href="#">Белая</a>
                                    </li>
                                    <li>
                                        <a href="#">Белокорец</a>
                                    </li>
                                    <li>
                                        <a href="#">Белоозёрск</a>
                                    </li>
                                </ul>
                                <div class="catalog-alpha-list__header">
                                    <span>В</span>
                                </div>
                                <ul class="catalog-alpha-col">
                                    <li>
                                        <a href="#">Великая Страча</a>
                                    </li>
                                    <li>
                                        <a href="#">Великие Баранки</a>
                                    </li>
                                    <li>
                                        <a href="#">Витебск</a>
                                    </li>
                                    <li>
                                        <a href="#">Вишнёвка</a>
                                    </li>
                                    <li>
                                        <a href="#">Войшкуны</a>
                                    </li>
                                </ul>
                                <div class="catalog-alpha-list__header">
                                    <span>Г</span>
                                </div>
                                <ul class="catalog-alpha-col">
                                    <li>
                                        <a href="#">Галица</a>
                                    </li>
                                    <li>
                                        <a href="#">Гамзелёво</a>
                                    </li>
                                    <li>
                                        <a href="#">Гатовичи</a>
                                    </li>
                                    <li>
                                        <a href="#">Гили</a>
                                    </li>
                                    <li>
                                        <a href="#">Гирск</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-window modal-window--entrance js-modal-window" data-md="reg-final"
         style="background-image: url('/img/reg-bg.png');">
        <div class="modal-window__content modal-window__content--complete-reg">
            <div class="modal-window__close js-close-md" data-cls="reg">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <form class="modal-window__form modal-window__form--complete-reg">
                <div class="md-cart-form__title">Завершить регистрацию</div>
                <div class="modal-window__form-row">
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-city2" class="label-light__title">Город</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="text" id="md-city2" class="input-light input-light__mb8">
                    </div>
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-comp-name" class="label-light__title">Юридическое название компании</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="text" id="md-comp-name" class="input-light input-light__mb8">
                    </div>
                </div>
                <div class="modal-window__form-row">
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-subname" class="label-light__title">Название, которое увидит
                                покупатель</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="text" id="md-subname" class="input-light input-light__mb8">
                    </div>
                    <div class="row-acc__form-col">
                        <p class="label-light">
                            <label for="md-email2" class="label-light__title">Телефон</label>
                            <span class="label-light__symbol">*</span>
                        </p>
                        <input type="tel" id="md-phone" class="input-light input-light__mb8">
                    </div>
                </div>
                <button class="button-rect btn-blue js-close-md" data-cls="reg">Готово</button>
                <a href="#" class="modal-window__form--link js-close-md" data-cls="reg">Выйти из профиля</a>
            </form>
        </div>
    </div>

    <div class="modal-window modal-window--cart-order js-modal-window" data-md="md-cart-order">
        <div class="modal-window__content modal-window__content--cart-order">
            <div class="modal-window__close js-close-md" data-cls="md-cart-order">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <div class="index-s__top">
                <h2 class="h2">Корзина</h2>
            </div>
            <div class="table-m">
                <div class="table-m__header">
                    <div class="table-m__header__cell">Товар</div>
                    <div class="table-m__header__bottom">
                        <div class="table-m__header__cell">Количество</div>
                        <div class="table-m__header__cell">Цена</div>
                    </div>
                </div>
                <div class="table-m__body">
                    <a href="#" class="table-m__body-el">
                        <div class="table-m__body-el-wrap">
                            <div class="table-m__body-el__inner">
                                <div class="table-m__body-cell table-m-cell-img"
                                     style="background-image: url('/img/bg1-sl.png');">
                                </div>
                            </div>
                            <div class="table-m__body-el__inner p-10 table-m__body-el__inner-desc">
                                <div class="table-m__body-cell h5 link-text">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor
                                </div>
                                <div class="table-m__body-cell h6">Продавец: Фитнес-клуб “Барбара”</div>
                            </div>
                            <div class="table-m__body-el__inner p-10">
                                <div class="table-m__body-cell table-m__body-cell--quantity">
                                    <span class="cart-increase">-</span>
                                    <span class="cart-quantity">2</span>
                                    <span class="cart-decrease">+</span>
                                </div>
                                <div class="order-list__footer-inner">
                                    <p class="order-list__footer-item">
                                        <span class="quantity">2</span>
                                        <span class="pieces">шт</span>
                                    </p>
                                    <p class="order-list__footer-item">( <span class="quantity">22</span>
                                        <span class="currency">br</span> шт)
                                    </p>
                                </div>
                            </div>
                            <div class="table-m__body-el__inner table-m__body-el__inner--mobile">
                                <div class="table-m__body-el__inner p-10">
                                    <div class="table-m__body-cell order-list__price">
                                        <span class="value button-s">44</span>
                                        <span class="currency button-s ">Br</span>
                                    </div>
                                </div>
                                <div class="table-m__body-el__inner p-10 table-m__body-el__inner--icn">
                                <span class="table-m__favorite js-table-m__favorite">
                                    <svg viewBox="0 0 20 18">
                                        <use xlink:href="/img/sprite.svg#heart"></use>
                                    </svg>
                                </span>
                                    <span class="table-m__close js-table-m__close">
                                    <svg viewBox="0 0 16 16">
                                        <use xlink:href="/img/sprite.svg#close-x"></use>
                                    </svg>
                                </span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="table-m__body-el">
                        <div class="table-m__body-el-wrap">
                            <div class="table-m__body-el__inner">
                                <div class="table-m__body-cell table-m-cell-img"
                                     style="background-image: url('/img/bg1-sl.png');">
                                </div>
                            </div>
                            <div class="table-m__body-el__inner p-10 table-m__body-el__inner-desc">
                                <div class="table-m__body-cell h5 link-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor
                                </div>
                                <div class="table-m__body-cell h6">Продавец: “Свислочская специализированная
                                    етско-юношеская школа олимпийского резерва”
                                </div>
                            </div>
                            <div class="table-m__body-el__inner p-10">
                                <div class="table-m__body-cell table-m__body-cell--quantity">
                                    <span class="cart-increase">-</span>
                                    <span class="cart-quantity">2</span>
                                    <span class="cart-decrease">+</span>
                                </div>
                                <div class="order-list__footer-inner">
                                    <p class="order-list__footer-item">
                                        <span class="quantity">2</span>
                                        <span class="pieces">шт</span>
                                    </p>
                                    <p class="order-list__footer-item">( <span class="quantity">22</span>
                                        <span class="currency">br</span> шт)
                                    </p>
                                </div>
                            </div>
                            <div class="table-m__body-el__inner table-m__body-el__inner--mobile">
                                <div class="table-m__body-el__inner p-10">
                                    <div class="table-m__body-cell order-list__price">
                                        <span class="value button-s">44</span>
                                        <span class="currency button-s ">Br</span>
                                    </div>
                                </div>
                                <div class="table-m__body-el__inner p-10 table-m__body-el__inner--icn">
                                <span class="table-m__favorite js-table-m__favorite">
                                    <svg viewBox="0 0 20 18">
                                        <use xlink:href="/img/sprite.svg#heart"></use>
                                    </svg>
                                </span>
                                    <span class="table-m__close js-table-m__close">
                                    <svg viewBox="0 0 16 16">
                                        <use xlink:href="/img/sprite.svg#close-x"></use>
                                    </svg>
                                </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="btn-wrapp">
                    <button class="button-rect btn-blue button-xs js-open-md js-close-md" data-cls="md-cart-order"
                            data-opn="cart-md">Оформить заказ
                    </button>
                    <button class="button-rect btn-white button-xs">
                        Продолжить покупки
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- add to the button (js-open-md && data-opn="no-active"), on click of which this modal window will be called-->
    <div class="modal-window modal-window--entrance js-modal-window" data-md="no-active">
        <div class="modal-window__content modal-window__content--no-active">
            <div class="modal-window__close js-close-md" data-cls="no-active">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <div class="row-acc__col25-top">
                <span class="row-acc__list-icon">
                    <svg>
                        <use xlink:href="/img/sprite.svg#notif-c"></use>
                    </svg>
                </span>
                <span class="row-acc__col25-title">Аккаунт не активирован!</span>
            </div>
            <p class="row-acc__col25--desc input-light__mb25">Напоминаем, что для начала продаж вам необходимо заполнить
                и
                отправить на проверку данные о компании. Обычно это занимает один рабочий день</p>
            <a href="#" class="button-rect btn-blue input-light__mb25 js-close-md" data-cls="no-active">Заполнить
                документы</a>
            <button class="modal-window__form--link js-close-md" data-cls="no-active">Напомнить позже</button>
        </div>
    </div>
    <!-- add to the button (js-open-md && data-opn="check-email"), on click of which this modal window will be called-->
    <div class="modal-window modal-window--entrance js-modal-window" data-md="check-email">
        <div class="modal-window__content modal-window__content--check-email">
            <div class="modal-window__close js-close-md" data-cls="check-email">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <div class="row-acc__col25-top">
                <span class="row-acc__list-icon">
                    <svg>
                        <use xlink:href="/img/sprite.svg#notif-c"></use>
                    </svg>
                </span>
                <span class="row-acc__col25-title">Проверьте адрес электронной почты!</span>
            </div>
            <p class="row-acc__col25--desc input-light__mb25">Мы отправили письмо со ссылкой для подтверждения.
                Если письмо не пришло, проверьте папку со спамом. Если письма там нет, напишите нам
                PRIMERHELP@TUT.BY или поробуйте зарегестрироваться с другой почты в лучшее времядля вас</p>
            <a href="#" class="modal-window__form--link js-close-md" data-cls="no-active">Назад</a>
        </div>
    </div>
    <div class="modal-window js-modal-window" data-md="cart-md">
        <div class="modal-window__content modal-window__content--cart">
            <div class="modal-window__close js-close-md" data-cls="cart-md">
                <svg viewBox="0 0 22 22">
                    <use xlink:href="/img/sprite.svg#circle-close"></use>
                </svg>
            </div>
            <form class="modal-window__form form-light md-cart-form">
                <div class="md-cart-form__title">Вход</div>
                <p class="label-light">
                    <label for="md-name" class="label-light__title">Имя</label>
                    <span class="label-light__symbol">*</span>
                </p>
                <input type="text" id="md-name" class="input-light input-light__mb15">
                <p class="label-light">
                    <label for="md-email" class="label-light__title">Email</label>
                    <span class="label-light__symbol">*</span>
                </p>
                <input type="text" id="md-email" class="input-light input-light__mb8">
                <p class="label-light label-light--policy">
                    <input type="checkbox" id="md-policy" checked="checked" class="styled-checkbox policy-checkbox">
                    <label for="md-policy" class="md-cart-form__label-policy">Я соглашаюсь с
                        <a href="" class="policy-link">Пользовательским cоглашением</a> и с <a href=""
                                                                                               class="policy-link">Правилами
                            обработки персональных данных</a> в соответствии с Политикой конфиденциальности</label>
                </p>
                <button class="button-rect btn-blue js-close-md" data-cls="cart-md">Продолжить</button>
                <a href="#" class="modal-window__form--link js-open-md js-close-md" data-cls="cart-md"
                   data-opn="reg-cart">Зарегестрироваться</a>
            </form>
        </div>
    </div>
</header>
