.contacts-s1{
  padding: $indent-25 0 $indent-170;
  position: relative;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("/img/sup-bg.png");

  @include lg {
    padding: $indent-60 0 $indent-260;
  }
}

.row-inner__form::placeholder {
  color: $gray-tx;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
//

.row-inner__form {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $indent-20 $indent-15;

  @include md {
    padding: $indent-50 $indent-40;
  }

  @include lg {
    padding: $indent-40 $indent-80;
  }
}

.row-inner__form .h4{
  margin-bottom: $indent-10;
  color: $blue-bg;

  @include md {
    margin-bottom: $indent-30;
  }

  @include lg {
    margin-bottom: $indent-40;
  }
}

.row-inner__form-text {
  color: $blue-bg;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: $indent-20;

  @include lg {
    margin-bottom: $indent-40;
  }
}

.row-inner__form-desc {
  padding: $indent-15 $indent-30;
  width: 100%;
  margin-bottom: $indent-30;
  border: 1px solid #2C4CA3;
  border-radius: 10px;
}

.row-inner__form input {
  border: 1px solid #2C4CA3;
  border-radius: 10px;
  width: 100%;
  padding: $indent-15 $indent-30;
}

.row-inner__form input:not(:last-child) {
  margin-bottom: $indent-30;
}

.row-inner__img {
  max-height: 390px;
  position: absolute;
  bottom: -100px;
  left: 0;
}

.row-inner__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row-inner__form .btn-rect {
  padding: $indent-20;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;

  @include sm {
    max-width: 180px;
  }
}