.blog-article-s1 {
  position: relative;
  padding: 25px 0 40px;

  @include sm {
    padding: 50px 0 40px;
  }

  @include lg {
    padding: 60px 0 40px;
  }
}

.blog-article-s1 .row__top {
  position: relative;
  z-index: 2;
  @include lg-down {
    flex-direction: column;
  }
}

.blog-article-s1 .row{
  position: relative;
  z-index: 2;
}

.blog-article-s1 .row__top-left {
  width: 100%;

  @include md {
    width: 70%;
  }
}

.blog-article-s1 .index-s__top-image {
  display: none;

  @include lg {
    display: block;
    width: 185px;
    position: absolute;
    right: 300px;
    bottom: auto;
    top: 80px;
    z-index: 1;
  }
}

.blog-article-s1 .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include md {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: $indent-40 $indent-80;
    box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.15);
    border-radius: 10px;
  }
}

//.blog-article-s .row__col50 .row__col50-images {
//  margin-bottom: $indent-20;
//}

.blog-article-s .row__body .row__col50.row__col50--left {

  @include md {
    width: 40%;
  }
}

.blog-article-s .row__body .row__col50.row__col50--right {
  margin-bottom: $indent-30;

  @include md {
    margin-bottom: 0;
    width: 57%;
  }
}

.blog-article-s .row__body {

  @include md-down {
    flex-direction: column-reverse;
  }
}

.about-s4 .row__col50-desc,
.blog-article-s .row__col50-desc {
  color: $blue-bg;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @include md {
    font-size: 18px;
    line-height: 26px;
  }
}

.blog-article-s .row__col50-desc:not(:last-child) {
  margin-bottom: $indent-20;
}