.info-company-s1 {
  padding: 25px 0 60px;

  @include sm {
    padding: 50px 0 60px;
  }

  @include lg {
    padding: 60px 0 100px;
  }
}

.info-company-s .row-acc.row-acc--acc .row-acc__col25.row-acc__col25--right .row-acc__col25-top svg {
  color: $orange;
}

.info-company-s .row-acc__form-row.row-acc__form-row--middle {
  flex-direction: column;
  align-items: flex-start;
}

.coaches-s .row-acc__col50-inner__top a,
.info-company-s .row-acc__col50-inner__top a {
  text-decoration: none;
}

.info-company-s .row-acc__form-row.row-acc__form-row--middle {

  @include sm {
    flex-direction: row;
  }
}

.info-company-s .button-rect {
  @include lgx {
    margin-top: 90px;
  }
}

.catalog-alpha-item {
  cursor: pointer;
}