.settings-s1 {
  padding: 0 0 60px;

  @include sm {
    padding: 0 0 60px;
  }

  @include lgx {
    padding: 60px 0 100px;
  }
}

.settings-s__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $blue-bg;

  @include lg {
    font-size: 32px;
    line-height: 38px;
  }
}

.settings-s .index-s__top {
  margin-bottom: $indent-35;
}

.row-acc__col25-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: $indent-25 $indent-20 $indent-15;
}

.row-prod__col30-title,
.row-acc__col25-title {
  color: $blue-bg;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.row-acc__col25-top .row-acc__list-icon svg {
  width: 20px;
  height: 20px;
  color: $blue-bg;
  margin-right: $indent-15;
}

.row-acc__list--acc .row-acc__list-el {
  padding: $indent-10 $indent-45;
}

.row-acc__form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.settings-s1 .row-acc__form-col {
  width: 48%;
}

.row-acc__form-col {
  width: 100%;

  @include sm {
    width: 48%;
  }
}

.row-acc__form .button-rect.button-dis {
  background-color: #EEF3F8;
  border: 1px solid #EEF3F8;
  color: #D1D5D9;
  transition: all .3s;
}

.row-acc__form .button-rect {
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;

  @include sm {
    margin-top: 0;
    max-width: 190px;
  }
}

.row-acc__form.row-acc__form--data {
  margin-bottom: $indent-50;
}

.row-acc.row-acc--prod .row-acc__col25.row-acc__col25--right,
.row-acc.row-acc--acc .row-acc__col25.row-acc__col25--right {
  padding: $indent-25 $indent-15 $indent-35;
}

.row-acc.row-acc--acc .row-acc__col25.row-acc__col25--right .button-rect {
  font-size: 16px;
  line-height: 19px;
}

.row-acc.row-acc--acc .row-acc__col25.row-acc__col25--right .row-acc__col25-top {
  padding: 0;
  margin-bottom: $indent-20;
}


.row-acc__col25.row-acc__col25--right .row-acc__col25--desc {
  margin-bottom: $indent-20;
}

.row-acc.row-acc--acc .row-acc__col25.row-acc__col25--right .row-acc__col25-top svg {
  width: 20px;
  height: 20px;
}

.settings-s .row-acc.row-acc--acc .row-acc__col25.row-acc__col25--right .row-acc__col25-top svg {
  color: $red;
}
