.index-s2 {
	padding: 0 0 $indent-50;

	@include lg {
		padding: $indent-95 0 $indent-80;
	}
}

.main-banner {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 -10px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	@include sm {
		margin: 0 -15px;
	}

	@include lg {
		margin: 0;
		flex-direction: row;
	}
}

.index-s2 .index-s__top-img {
	z-index: 10;
	width: 135px;
	position: absolute;
	bottom: 100px;
	right: 0;

	@include sm {
		bottom: 20%;
		right: 42%;
		width: 155px;
	}

	@include sm {
		bottom: -10px;
		right: 100px;
		width: 155px;
	}

	@include lg {
		left: -15px;
		top: -62px;
	}
}

.main-banner__col-big {
	width: 100%;
	display: flex;

	@include lg {
		width: 80%;
		flex-direction: row;
		order: 2;
		z-index: 1;
	}
}

.main-banner__col-big .main-banner__col60 {
	width: 100%;
	position: relative;

	@include lg {
		width: 77%;
	}
}

.main-banner__col-big .main-banner__col20-hidden {
	display: none;
	overflow: hidden;
	border-radius: 0 5px 5px 0;

	@include lg {
		display: flex;
		flex-direction: column;
		width: 23%;
		color: $white;
	}
}

.main-banner__col-small {
	width: 100%;
	height: 100%;
	flex-direction: row;
	display: flex;
	color: $white;
	border-radius: 5px 0 0 5px;
	overflow: hidden;

	@include sm-down {
		padding-top: 20px;
	}

	@include lg {
		width: 20%;
		min-height: 535px;
		flex-direction: column;
		order: 1;
	}
}

.main-banner__col20-link {
	color: #C3C3C3;
}

.main-banner__col-small .main-banner__col20-hidden {
	display: none;
	overflow: hidden;
	color: #fff;
	text-decoration: none;

	@include sm {
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	@include lg {
		display: none;
	}
}

.main-banner__col-big .main-banner__col20-hidden .main-banner__col20-fullcol {
	display: none;

	@include lg {
		flex-direction: column;
		display: flex;
		overflow: hidden;
		width: 100%;
		height: 100%;
		min-width: 218px;
	}
}

.main-banner__col-small .main-banner__col20-hidden .main-banner__col20-fullcol {
	align-items: stretch;
}

.main-banner__col-small .main-banner__col20-hidden .card-s__el-img {
	height: 100%;
}

.main-banner__col-small .main-banner__col20-visible {
	display: flex;
	flex-direction: row;
	width: 50%;
	overflow: hidden;

	@include lg {
		flex-direction: column;
		width: 100%;
	}

	@include sm-down {
		width: 100%;
	}
}

.main-banner__col20-col {
	color: #fff;
	text-decoration: none;
}

.main-banner__col-small .main-banner__col20-visible .main-banner__col20-col {
	display: flex;
	flex-direction: column;
	width: 100%;

	@include sm-down {
		width: 50%;
	}
}

.main-banner__col20-visible .main-banner__col20-col .main-banner__col20-desc.link-s {
	max-width: 140px;
	width: 100%;
}


.banner-slider__inner {
	z-index: 3;
	padding: 10px;

	@include sm {
		position: absolute;
		left: $indent-20;
		max-width: 380px;
		top: 67px;
	}

	@include lg {
		padding: 0;
	}

	@include xl {
		left: $indent-50;
	}
}

.banner-slider__image {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	width: 60%;

	@include xl {
		position: absolute;
		top: 0;
		right: 0;
		width: 60%;
	}
}

.banner-slider__inner .button-rect {
	display: none;

	@include sm {
		display: flex;
	}
}

.swiper-btn__wrap .button-rect {
	display: flex;

	@include sm {
		display: none;
	}
}

.main-banner .button-rect {
	font-weight: bold;

	@include sm-down {
		padding: $indent-15 0;
	}
}

.banner-slider__inner .banner-slider__desc {
	margin-bottom: $indent-20;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;

	@include sm {
		margin-bottom: $indent-75;
		font-size: 18px;
		line-height: 21px;
	}
}

.banner-slider__inner .h2 {
	margin-bottom: $indent-10;
	width: 100%;

	@include sm {
		margin-bottom: $indent-40;
		max-width: 325px;
	}

	@include sm-down {
		max-width: 176px;
	}
}

.banner-slider__img {
	position: relative;
	max-width: 100%;
	width: 100%;
	z-index: 2;

	@include sm {
		height: 100%;
	}

	@include xl {
		width: 100%;
		max-width: 100%;
	}
}

.swiper-btn__wrap {
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: -1px;
	left: 0;
	z-index: 4;

	@include sm-down {
		position: relative;
		bottom: $indent-50;
	}
}

.banner-slider.swiper-container {
	overflow: hidden;
	position: relative;
	height: 100%;
	min-height: 400px;

	@include sm {
		min-height: 535px;
	}
}

.banner-slider-el.banner-slider-el-mask {
	position: relative;
}

.banner-slider-el.banner-slider-el-mask .banner-slider__inner {
	color: $blue;
}

.banner-slider-el.banner-slider-el-nomask .banner-slider__inner {
	color: $blue;

	@include md {
		color: $white
	}
}

.banner-slider-el.banner-slider-el-nomask .banner-slider__img {
	@include sm {
		height: 100%;
	}
}

.banner-slider-el.banner-slider-el-mask:before {
	@include lgx {
		width: 69%;
		mask-image: url("/img/mask.svg");
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		height: 100%;
		min-height: 535px;
		mask-size: 100%;
		mask-repeat: no-repeat;
		z-index: 3;
		background: white;
	}
}

.main-banner__col-small .card-s__el-img {
	width: 100%;
	height: 120px;
	position: relative;
	margin-bottom: $indent-15;

	@include lg {
		height: 125px;
		margin-bottom: $indent-40;
	}
}

.main-banner .swiper-button-next,
.main-banner .swiper-button-prev {
	margin-left: 0;
}

.main-banner__col-small .main-banner__col20-col {
	padding: $indent-20 $indent-10;
	cursor: pointer;

	@include lg {
		padding: $indent-25 $indent-20 $indent-25;
	}
}

.main-banner__col20-col,
.main-banner__col20-hidden {
	cursor: pointer;
	background: $blue-dark2;
	transition: background .2s;
}

.main-banner__col20-col:hover,
.main-banner__col20-hidden:hover {
	background: $blue;
}

.main-banner__col20-hidden:hover .btn-blue {
	background: $blue-dark2;
}

.main-banner__col20-hidden .btn-blue:hover {
	background: $white;
	color: $blue;
}

.main-banner__col-small .main-banner__col20-fullcol,
.main-banner__col-big .main-banner__col20-fullcol {
	padding: $indent-25;

	@include lg {
		padding: $indent-25 $indent-20 $indent-30;
	}
}

.main-banner__col-small .main-banner__col20-fullcol {
	display: flex;
}

.main-banner__col-big .main-banner__col20-fullcol .card-s__el-img {
	margin-bottom: $indent-15;

	@include lg {
		margin-bottom: $indent-35;
	}
}

.main-banner__col20-hidden .col20-fullcol-inner.col20-fullcol-inner--top {
	width: 100%;
	height: 100%;
}

.main-banner__col20-hidden .col20-fullcol-inner.col20-fullcol-inner--top .h4 {
	display: block;
	margin-bottom: $indent-15;

	@include sm {
		display: none;
	}
}

.main-banner__col20-hidden .col20-fullcol-inner.col20-fullcol-inner--bottom .h4 {
	display: block;

	@include lg {
		display: none;
	}
	@include lg-down {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: $indent-15;
	}
}

.col20-fullcol-inner.col20-fullcol-inner--bottom {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	padding-left: $indent-20;
}

.col20-fullcol-inner.col20-fullcol-inner--bottom .button-rect {
	border-radius: 10px;
}

.main-banner__col20-desc {
	width: 100%;
}

.main-banner__col20-desc.link-s {
	margin-bottom: 20px;
	display: inline-flex;
	white-space: break-spaces;
}

.main-banner__col-big .button-rect {
	max-width: 180px;
	border-radius: 10px;
}

.main-banner__col-big .main-banner__col20-fullcol .h4 {
	margin-bottom: $indent-25;
	font-weight: bold;
}

.main-banner__col-small .main-banner__col20-desc.link-s {
	font-weight: bold;
}

.main-banner__col20-link a {
	color: $gray-l;
	text-decoration: none;
	border-bottom: 1px solid $gray-l;
}