.index-s7 {
	padding: $indent-60 0 $indent-130;
	//background-color: $blue-light;

	@include sm {
		padding-bottom: $indent-215;
	}

	@include lg {
		padding-bottom: $indent-120;
	}
}

.index-s__top.index-s7__top .button-rect {
	font-weight: bold;
}

.circles-block {
	display: grid;
	justify-content: center;
	grid-gap: 14px;
	grid-template-columns: repeat(auto-fit, 60px);
	margin-bottom: $indent-50;

	@include md {
		grid-template-columns: repeat(auto-fit, 92px);
		margin-bottom: 230px;
	}
}

.index-s7 .link-s {
	display: inline-flex;

	@include lgx {
		display: none;
	}
}

.index-s7__top .button-rect {
	display: none;

	@include lgx {
		display: inline-flex;
		position: relative;
		z-index: 2;
	}
}

.index-s7__top {
	position: relative;
	align-items: center;
}

.index-s7 .form-gray {

	@include lg {
		align-items: flex-start;
	}
}

.index-s7 .form-gray .button-rect {
	border-radius: 5px;
	padding: $indent-15 0;
	width: 100%;
	max-width: 180px;

	@include lg {
		padding: $indent-10 0;
	}
}

.index-s7 .button-rect {
	border-radius: 15px;
}

.index-s7__top .button-rect {
	max-width: 180px;
}

.index-s__more-about-us {
	display: none;

	@include sm {
		position: relative;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 50px;
	}

	.button-rect {
		display: block;
		position: relative;
		max-width: 180px;
		z-index: 1;
	}
}

.index-s__more-about-us .index-s__top-img {
	position: absolute;
	width: 190px;
	display: block;
	right: 130px;
	top: -40px;
}

.index-s__more-about-us .index-s__top-img img {
	transform: rotate(8deg);
}
