.index-s5 {
  padding: 0 0 $indent-80;
}

//.swiper-wrapper.grid-cards__list {
//  display: flex;
//}

.swiper-slide.card-m__list-el {
  width: 210px;
  height: 282px;
  border-radius: 10px;

  @include lg {
    width: 297px;
    height: 343px;
  }
}

.swiper-slide.card-m__list-el:not(:last-child) {
  margin-right: 10px;

  @include lg {
    margin-right: 30px;
  }
}

.card-m__el-inner {
  border-radius: 10px;
  background-color: $white;
}

.card-m__el-images {
  margin-bottom: $indent-15;
}

.card-m__el-img {
  width: 100%;
  height: 110px;
  position: relative;
  background-color: #646A7D;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  border-radius: 10px;
  overflow: hidden;

  @include lg {
    height: 153px;
  }
}

.card-m__el-img:after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-m .card-m__el-title {
  display: none;

  @include lg {
  display: block;
  }
}

.card-m__el-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  padding: 0 9px;
  z-index: 2;

  @include lg {
    justify-content: space-between;
    padding: 0 16px;
  }
}

.card-m .icon-block__img.icon-block__img--img3 {
  display: flex;

  @include md {
    display: none;
  }
}

.card-m .icon-block__img.icon-block__img--img1,
.card-m .icon-block__img.icon-block__img--img4 {
  display: none;

  @include md {
    display: flex;
  }
}

.card-m__el-bottom {
  display: none;

  @include lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 9px;
    left: 0;
    width: 100%;
    padding: 0 16px;
    z-index: 2;
  }
}

.card-m__el-tags {
  display: flex;
  justify-content: flex-start;
}

.card-m__el-tag:not(:last-child) {
  margin-right: 6px;
}

.card-m__el-tag {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  padding: 6px 14px;
  color: $white;
  border-radius: 10px;
}

.card-m .rating-block {
  width: 64px;
  height: 12px;
}

.card-m .card-m__el-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: $indent-15;

  @include md {
    margin-bottom: $indent-10;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.card-m .metro-block {
  display: flex;

  @include sm-down {
  display: none;
  }
}

.card-m .icon-block {
  margin-bottom: $indent-15;

  @include lg {
    margin-bottom: $indent-20;
  }
}

.card-m__el-content {
  padding: 0 $indent-10;
}

.metro-block {
  margin-bottom: $indent-10;
}

.button-full {
  display: inline-flex;
  justify-content: center;
  vertical-align: bottom;
  width: 100%;
  border-radius: 10px;
  padding: $indent-10;
  color: $white;
  margin: auto 0 0;
}

.button__i {
  margin-right: $indent-10;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.value {
  margin-right: 5px;
}