.index-s7 {
	padding: $indent-60 0 $indent-130;
	background-color: $blue-light;

	@include sm {
		padding-bottom: $indent-215;
	}

	@include lg {
		padding-bottom: $indent-120;
	}
}

.index-s__top h2::first-letter {
	color: $blue;
}

.index-s__top {
	margin-bottom: $indent-15;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include sm {
		margin-bottom: $indent-30;
	}

	@include lg {
		margin-bottom: $indent-60;
	}
}

.index-s__top a {
	color: $blue;
}

.index-s__top.index-s7__top .button-rect {
	font-weight: 700;
}

.circles-block {
	display: grid;
	justify-content: center;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, 60px);
	margin-bottom: $indent-50;

	@include lg {
		grid-gap: 14px;
		grid-template-columns: repeat(auto-fit, 92px);
		margin-bottom: $indent-180;
	}
}

.index-s7 .link-s {
	display: inline-flex;

	@include lgx {
		display: none;
	}
}

.index-s7__top .button-rect {
	display: none;

	@include lgx {
		display: inline-flex;
		position: relative;
		z-index: 2;
	}
}

.index-s7__top {
	position: relative;
}

.form-gray__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $indent-25 $indent-20 $indent-20;
	background: $gray-light;
	box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.15);
	border-radius: 15px;
	position: relative;

	@include sm {
		align-items: flex-start;
		padding: $indent-30 $indent-30 $indent-35;
		flex-direction: row;
	}

	@include lg {
		flex-direction: row;
		padding: $indent-90 $indent-110;
		justify-content: space-between;
		align-items: center;
	}
}

.form-gray {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	@include lg-down {
		order: 2;
		flex-direction: column;
	}
}

.index-s7 .form-gray .button-rect {
	border-radius: 5px;
	//color: #ffffff;
	padding: $indent-15 0;
	width: 100%;
	max-width: 180px;

	@include lg {
		padding: $indent-10 0;
	}
}

.form-gray__inner .text-m {
	margin: 0 0 20px 0;

	@include sm-down {
		text-align: center;
	}

	@include lg {
		margin: 0 10px 0 0;
	}
}

.form-gray__img {
	position: relative;
	width: 105px;
	height: 275px;
	order: 2;

	@include sm-down {
		order: 1;
		width: 86px;
		height: 226px;
	}

	@include lgx {
		position: absolute;
		top: -60%;
		right: 0;
		z-index: 1;
		width: 150px;
		height: 390px;
	}
}

.form-gray__input {
	width: 100%;
	max-width: 421px;
	padding: 11px 16px;
	margin: 0 10px 15px 0;
	border: 1px solid $blue-bg3;
	border-radius: 5px;

	@include lg {
		margin: 0 10px 0 0;
		max-width: 405px;
	}
}

.form-gray__input::placeholder {
	color: $blue-bg3;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

.index-s7 .button-rect {
	border-radius: 15px;
}

.index-s7__top .button-rect {
	max-width: 180px;
}

.index-s7 .index-s__top-img {
	display: none;

	@include lg {
		display: block;
		right: 92px;
		top: 0;
	}
}

.index-s7 .index-s__top-img img {
	transform: rotate(8deg);
}