.standard-slider.free-slider {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;

  @include sm {
    padding-left: 39px;
    padding-right: 39px;
    margin-left: -39px;
    margin-right: -39px;
  }

  @include md {
    padding-left: 80px;
    padding-right: 80px;
    margin-left: -80px;
    margin-right: -80px;
  }

  @include xl {
    margin-left: calc(-50vw + 690px);
    margin-right: calc(-50vw + 690px);
    padding-left: calc(50vw - 690px);
    padding-right: calc(50vw - 690px);
  }
}

.card-m-slider,
.card-s-slider,
.card-l-slider,
.banner-slider {
  position: relative;
}

.swiper-button-prev.btn__prev,
.swiper-button-next.btn__next {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: $blue;
  cursor: pointer;
}

.swiper-btn__wrap .swiper-button-prev.btn__prev,
.swiper-btn__wrap .swiper-button-next.btn__next {
  position: relative;
  z-index: 3;
  left: 0;
  top: 10px;

  @include sm-down {
    z-index: 10;
  }
}

.card-m-slider .swiper-button-prev.btn__prev,
.card-l-slider .swiper-button-prev.btn__prev,
.card-s-slider .swiper-button-prev.btn__prev {
  left: -67px;
}

.card-m-slider .swiper-button-next.btn__next,
.card-l-slider .swiper-button-next.btn__next,
.card-s-slider .swiper-button-next.btn__next {
  right: -67px;
}

.card-l-slider .swiper-button-next.btn__next,
.card-l-slider .swiper-button-prev.btn__prev,
.card-m-slider .swiper-button-next.btn__next,
.card-s-slider .swiper-button-next.btn__next,
.card-s-slider .swiper-button-prev.btn__prev,
.card-m-slider .swiper-button-prev.btn__prev {
  display: none;

  @include lg-inner {
    display: flex;
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  background-color: rgba(44, 76, 163, 0.2);
}

.card-s-slider .swiper-container-horizontal>.swiper-scrollbar,
.card-l-slider .swiper-container-horizontal>.swiper-scrollbar,
.card-m-slider .swiper-container-horizontal>.swiper-scrollbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: -15px;

  @include sm {
    bottom: -20px;
  }

  @include lgx {
    display: none;
  }
}

.banner-slider .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  z-index: 4;
  width: max-content;
  transform: translateX(-50%);
  left: 50%;

  @include sm-down {
    bottom: $indent-15;
  }
}

.banner-slider .swiper-pagination-bullet {
  border: 1px solid $blue;
  background-color: transparent;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $gold;
  border: 1px solid transparent;
}

