.preview-s1 {
  padding: 0 0 60px;

  @include lgx {
    padding: 50px 0 60px;
  }

  @include lg {
    padding: 60px 0 100px;
  }
}

.preview-s1 .row-acc__col50 {
  padding: 0;
}

.preview-s1 .row-acc__col50--title {
  display: inline-flex;
}

.preview-s1 .row-acc__col50-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 248px;

  @include sm {
    padding-bottom: $indent-10;
  }

  @include lgx {
    padding: 35px;
  }
}

.preview-s1 .modal-window__content.modal-window__content--prod {
  padding: $indent-20;
  width: 320px;

  @include sm {
    width: 397px;
    padding: $indent-80 $indent-35 $indent-40;
  }
}

.preview-s1 .row-acc__col50-inner .btn-wrapper {
  display: inline-flex;
  vertical-align: bottom;
  margin: auto 0 0;
  flex-wrap: wrap;

  @include sm {
    flex-wrap: nowrap;
  }
}

.modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-inner .modal-inner__desc {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: $gray-tx;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: $indent-30;
  width: 100%;

  @include sm {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.links-wrapper a.button-rect {
  max-width: 100%;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;

  @include sm {
    max-width: 159px;
  }
}

.links-wrapper .btn-white {
  margin-bottom: $indent-10;

  @include sm {
    margin-right: $indent-10;
    margin-bottom: 0;
  }
}

.modal-inner__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: $blue-bg;
  margin-bottom: $indent-15;
}

.preview-s1 .row-acc__col50-inner .btn-wrapper .button-rect {
  max-width: 100%;
  border-radius:  $indent-15;
  padding: $indent-10;

  @include sm {
    margin-bottom: 0;
    max-width: 147px;
  }
}

.preview-s1 .row-acc__col50-inner .btn-wrapper .button-rect.btn-white {
  @include sm-down {
    margin-right: 0;
    margin-bottom: $indent-10;
  }
}