.arrow-up {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  z-index: 5;
  opacity: 0;
}

.arrow-up__icon {
  margin-top: 5px;
}

.arrow-up.show {
  position: fixed;
  bottom: 5%;
  right: 10px;
  opacity: 1;

  @include md {
    right: 30px;
    bottom: 20%;
  }
}

.arrow-up svg {
  width: 15px;
  height: 17px;
  color: $white;
}
