button {
  appearance: none;
  border: none;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.btn-blue {
  background-color: $blue;
  color: $white;
  transition: all .3s;
  border: 1px solid transparent;
}

.btn-blue:hover {
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;
}

.button-rect {
  padding: $indent-20 0;
  color: $white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
}

.button-full {
  width: 100%;
  cursor: pointer;
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;
  transition: all .3s;
}

.button-full:hover {
  background-color: $blue-bg;
  border: 1px solid $blue-bg;
  color: $white;
}

.btn-blue-s {
  cursor: pointer;
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;
  transition: all .3s;
}

.btn-blue-s:hover {
  background-color: $white;
  border: 1px solid $white;
  color: $blue;
}

.btn-white {
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;
  transition: all .3s;
}

.btn-white:hover {
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;
}

.card-circle-btn {
  background: $gold;
  border-radius: 47px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-circle-btn svg {
  color: $blue;
  width: 16px;
  height: 11px;
}