.catalog-alpha {
	height: calc(100% - 70px);
	overflow-y: auto;
}

.catalog-alpha__tag {
	padding: 0;
	margin: 0 0 20px 0;
	display: flex;
	list-style: none;
}

.catalog-alpha__tag li {
	margin: 5px;
}

.catalog-alpha__tag li a {
	position: relative;
	padding: 2px 6px;
	color: #051138;
	font-weight: 500;
	font-size: 20px;
	background: #ecf5fe;
	text-decoration: none;
	transition: all .2s ease-in-out;

	&:hover {
		visibility: visible;
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	}
}

.catalog-alpha-row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-left: -0.75rem;
	margin-right: -0.75rem;

	@include md {
		margin-top: -0.75rem;
	}
}

.catalog-alpha-list__header {
	width: 5.33333%;
	padding: 20px;
	color: #051138;
	font-size: 24px;
	font-weight: bold;
}

.catalog-alpha-col {
	columns: 4 120px;
	margin-left: 0;
	width: 94.66667%;
	padding: 20px;
}

.catalog-alpha-col li {
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
}

.catalog-alpha-col li a {
	position: relative;
	color: #374160;
	text-decoration: none;
	font-size: 16px;
	line-height: 19px;

	&:hover {
		text-decoration: underline;
	}
}

.catalog-alpha-col li img {
	display: inline-block;
	vertical-align: middle;
}

.modal-window__content.modal-window__content-country {
	padding: $indent-20 0;
	width: 95%;
	max-height: 95vh;

	@include md {
		width: 50%;
	}
}