.circle-el {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  max-width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: $white;
  position: relative;
  transition: all .3s;

  @include lg {
    height: 92px;
    max-width: 92px;
  }
}

.circles-block .circle-el {
  box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.05);
}

.circle-el:active,
.circle-el:hover {
  background-color: $blue;
  color: $white;
}


.circle-el svg {
  width: 45px;
  height: auto;
  color: $blue;
  transition: all .3s;

  @include lg {
    width: 60px;
    height: 70px;
  }
}

.circle-el:active svg,
.circle-el:hover svg {
  color: $white;
}
