.favorites-block {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}

.feedback__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback__img svg {
  width: 20px;
  height: 21px;
  color: $gold;
}


.feedback__img.feedback_img--gray svg {
  color: $gray-l;
}


