.form__subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $indent-25 $indent-20 $indent-20;
	background: $gray-light;
	box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.15);
	border-radius: 15px;
	position: relative;

	@include sm {
		align-items: flex-start;
		padding: $indent-30 $indent-30 $indent-35;
		flex-direction: row;
	}

	@include lg {
		flex-direction: row;
		padding: $indent-90 $indent-110;
		justify-content: space-between;
		align-items: center;
	}
}

.form__field {
	position: relative;
}

.form__input {
	height: 40px;
	border: 1px solid rgba(195, 195, 195, 0.2);
	border-radius: 10px;
	padding: 12px 16px;
	background: none;
}

.form__error-field {
	border-color: $red !important;
	color: $red;
}

.form__error-field::placeholder {
	color: $red;
}

.form__error-field:focus {
	outline: none;
}

.form__link-bottom {
	text-align: center;
	font-size: 14px;
}

//Form subscribe
.form__subscribe--inner {

	@include sm {
		margin-top: 110px;
	}

	@include md {
		margin-top: 45px;
	}
}

.form-gray {
	position: relative;
	width: 100%;
	z-index: 2;

	@include lg-down {
		order: 2;
	}
}

.form-gray__inner {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;

	@include sm {
		justify-content: space-between;
		align-items: flex-start;
	}

	@include lg {
		flex-direction: row;
	}
}

.form-gray__inner .text-l {
	margin: 0 0 20px 0;

	@include sm-down {
		text-align: center;
	}

	@include lg {
		margin: 0 10px 0 0;
	}
}

.form-gray__img {
	position: absolute;
	right: 0;
	top: -20px;
	height: 324px;
	order: 2;

	@include sm-down {
		position: relative;
		top: 0;
		order: 1;
		height: 270px;
	}

	@include lgx {
		top: -90%;
		right: -27%;
		z-index: 1;
		width: auto;
		height: 460px;
	}
}

.form-gray__input {
	width: 100%;
	max-width: 421px;
	padding: 11px 16px;
	margin: 0 10px 15px 0;
	border: 1px solid $blue-bg3;
	border-radius: 5px;

	@include lg {
		margin: 0 10px 0 0;
		max-width: 405px;
	}
}

.form-gray__input::placeholder {
	color: $blue-bg3;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

//Form wrap
.form-wrap {
	width: 100%;
	margin: 0 auto;
	padding: 40px 15px;
	border-radius: 10px;
	box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.15);

	@include md {
		padding: 60px 40px;
	}

	@include lgx {
		width: 70%;
		padding: 60px 80px;
	}
}

.form-wrap__form {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.form-wrap__form-text {
	margin: 0 auto 30px;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: $blue;

	@include md {
		margin: 0 auto 60px;
		font-size: 24px;
		line-height: 29px;
	}
}

.form-wrap__form .h2 {
	margin-bottom: $indent-20;

	@include md {
		margin-bottom: $indent-40;
	}
}

.form-wrap__form .h2:first-letter {
	color: $blue;
}

.form-wrap__form textarea,
.form-wrap__form input {
	border: 0;
	border-bottom: 2px solid #E5E5E5;
	padding: $indent-10 $indent-20;

	@include md {
		padding: $indent-15 $indent-30;
	}
}

.form-wrap__form input {
	margin-bottom: $indent-15;
	outline: none;

	@include md {
		margin-bottom: $indent-30;
	}
}

.form-wrap__form textarea {
	outline: none;
	overflow-y: auto;
}

.form-wrap__form ::placeholder {
	color: $gray-tx;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;

	@include md {
		margin: 0 auto 60px;
		font-size: 24px;
		line-height: 29px;
	}
}

.form-wrap__form .row-inner__form-btn {
	margin-bottom: $indent-50;
}

.form-wrap__form .btn-rect {
	padding: $indent-20;
	overflow: hidden;
	width: 100%;

	@include sm {
		max-width: 180px;
	}
}

.form-wrap__form-desc {
	margin-bottom: $indent-30;
}

.form-wrap__bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-wrap__bottom svg {
	width: 24px;
	height: 24px;
	margin-right: $indent-10;
}

.form-wrap__bottom-desc {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: $blue-bg;
	width: 70%;

	@include md {
		font-size: 18px;
		line-height: 24px;
		width: 50%;
	}

	@include lgx {
		width: auto;
	}
}