.icon-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon-block__img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.icon-block__img img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  background-color: #646A7D;
}