.logo-block {
  margin-bottom: $indent-25;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $white;
  text-decoration: none;

  @include csx {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include sm {
    margin-bottom:0;
  }

  @include md {
    flex-direction: column;
    align-items: flex-start;
  }
}

@include lg {
  .cont-row:not(:last-child) {
    margin-bottom: 20px;
  }
}

.logo-block img {
  //width: 30px;
  height: 40px;
}

.logo-block__title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-top: $indent-10;

  @include csx {
    margin-top: 0;
  }
}