.menu-buttons {
	@include flex();
	margin-left: auto;
	margin-right: 30px;
}

.menu-buttons__favorite {
	opacity: .5;
	color: #fff;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 20px;
}

.menu-buttons__cart {
	display: inline-block;
	height: 24px;
	width: 24px;
}