.metro-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $blue-bg;
}

.metro-block__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.metro-block__img img {
  width: 24px;
  height: 24px;
}