.rating-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.rating-block__el {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  cursor: pointer;
  width: 15px;
  height: 15px;
  color: transparent;
}

.rating-block__el svg {
  width: 11px;
  height: 11px;
}

.rating-block__el:hover,
.rating-block__el.active {
  color: $orange;
}