.row-link-ic {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: $indent-10;
}

.row-link-ic__title {
  color: $blue;
  margin-right: $indent-15;
}

.row-link-ic.row-link-ic--mob .h5.row-link-ic__title {
  @include sm-down {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}

.row-link-ic img {
  width: 6px;
  height: 12px;
  display: inline-block;
}
