.row-link-ic {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: $indent-10;
}

.row-link-ic__title {
  color: $blue;
  margin-right: $indent-15;
}

.row-link-ic img {
  width: 6px;
  height: 12px;
  display: inline-block;
}
