.map-site-s1 {
  padding: $indent-25 0 $indent-170;
  position: relative;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("/img/sup-bg.png");

  @include lg {
    padding: $indent-60 0 $indent-260;
  }
}
