$blue: #2C4CA3;
$blue-dark: #0E1B2D;
$blue-light: #ecf5fe;
$blue-bg2: #16358A;
$blue-bg3: #1E3577;
$blue-t: #2F89CE;
$blue-vk: #7294C7;
$blue-bg4: #ECF6FF;
$turquoise: #95CFFE;
$blue-bg: #051138;
$violet: #576AA7;
$violet-vbr: #7C509A;
$black: #000000;
$black-t: #374160;
$white: #ffffff;
$gray: #E1EBF5;
$gray-l: #E5E5E5;
$gray-light: #F0F0F0;
$gray-b: #434C6A;
$gray-fb: #4E6297;
$gray-dark: #646A7D;
$gray-tx: #828282;
$gray-l: #ABABAB;
$gray-b: #C0C0C0;
$gray-d-tx: #767F9C;
$gold: #FFEE4B;
$gold-btn: #FCDF2B;
$orange: #EB9B24;
$orange-dark: #FF9900;
$orange-light: #FFF8DF;
$olive: #B7C922;
$green-dark: #179257;
$green-light: #EBFCF1;
$red: #FF0000;
$red-light: #FFF2F2;