$blue: #2C4CA3;
$blue-dark: #0E1B2D;
$blue-light: #E5E5E5;
$blue-bg: #16358A;
$blue-text: #051138;
$violet: #576AA7;
$black: #000000;
$white: #ffffff;
$gray: #E1EBF5;
$gray-light: #F0F0F0;
$gray-dark: #646A7D;
$gray-tx: #828282;
$gold: #FFEE4B;
$gold-btn: #FCDF2B;
$orange: #EB9B24;
$orange-dark: #FF9900;
$orange-light: #FFF8DF;
$olive: #B7C922;
$green-dark: #179257;
$green-light: #EBFCF1;
$red: #FF0000;
$red-light: #FFF2F2;