$box-shadow-btn: 0px 5px 10px rgba(80, 80, 80, 0.25);
$box-shadow-img: 0 4px 4px rgba(0, 0, 0, 0.25);
$brd-sm: 10px;
$brd-xs: 8px;
$rtl: [dir="rtl"];

//Indents
$indent-base: 16px;
$indent-base-half: 8px;
$indent-lg: 48px;
$indent-xl: 64px;
$indent-lg-half: 24px;
$indent-md: 20px;
$indent-sm: 10px;

//Gaps for grid
$gab-lr: 10px;
$gab-bt: 64px;
$gab-bt-small: 48px;

$decor-h: 75px;

//Sizes
$xl_width: 1600px;
$lg_width: 1200px;
$lg_width_inner: 1400px;
$md_width: 992px;
$sm_width: 768px;
$csx_width: 480px;
$xs_width: 320px;

$container-width: 1440px;
$container-padding: 80px;
$container-padding-sm: 39px;
$container-padding-md: 10px;
