$box-shadow-btn: 0px 5px 10px rgba(80, 80, 80, 0.25);
$box-shadow-img: 0 4px 4px rgba(0, 0, 0, 0.25);
$brd-sm: 10px;
$brd-xs: 8px;
$rtl: [dir="rtl"];

//Indents
$indent-215: 215px;
$indent-180: 180px;
$indent-130: 130px;
$indent-120: 120px;
$indent-115: 115px;
$indent-110: 110px;
$indent-80: 80px;
$indent-95: 95px;
$indent-90: 90px;
$indent-60: 60px;
$indent-65: 65px;
$indent-75: 75px;
$indent-70: 70px;
$indent-55: 55px;
$indent-50: 50px;
$indent-40: 40px;
$indent-45: 45px;
$indent-35: 35px;
$indent-30: 30px;
$indent-25: 25px;
$indent-20: 20px;
$indent-15: 15px;
$indent-10: 10px;

//Gaps for grid
$gab-14: 14px;
$gab-20: 20px;
$gab-bt-small: 48px;

$decor-h: 75px;

//Sizes
$xl_width: 1600px;
$lg_width: 1200px;
$lg_width_inner: 1400px;
$lgx_width: 1024px;
$md_width: 992px;
$sm_width: 768px;
$csx_width: 480px;
$xs_width: 320px;

$container-width: 1440px;
$container-padding: 80px;
$container-padding-md: 39px;
$container-padding-sm: 10px;
