.footer-section {
  background-color: #051138;
  color: white;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 80px;
    margin: 0 auto;

  @include sm-down {
    padding: 0 10px;
  }
}

.footer-top {
  display: flex;
  flex-direction: column;

  @include lg {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-col20 {
  display: flex;
  flex-direction: column;
}

.footer-col80 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-col30 {
  width: 50%;

  @include sm {
    width: 30%;
  }
}

.footer-icon__list {
  display: none;

  @include lg {
    display: flex;
    justify-content: space-between;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom__col70 {
  display: flex;
  flex-direction: column;

  @include sm-down {
    order: 2;
  }
  @include sm {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-desc a {
  display: inline-block;
}

.footer-bottom__col30 {
  display: flex;
  flex-direction: row;

  @include sm-down {
    order: 1;
  }
}

.soc-block__soc-list.soc-list {
  display: flex;
  justify-content: space-between;
}

.footer-middle {
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include sm{
    flex-direction: row;
  }
}
.footer-icon__el img {
  width: 30px;
  height: 30px;
}

.cont-row {
  display: flex;
}

.cont-row img {
  width: 20px;
  height: 20px;
}

.cont-row a {
  color: white;
  text-decoration: none;
}

.footer-col30__item {
  list-style-type: none;
}

.footer-col30__item a {
  color: white;
  text-decoration: none;
}

.logo-block img {
  width: 30px;
  height: 40px;
}

.footer-desc a {
  color: white;
  text-decoration: none;
}