.about-s {
  margin-top: $indent-15;

  @include sm {
    margin-top: $indent-20;
  }

  @include lg {
    margin-top: $indent-25;
  }
}

.about-s2,
.about-s3,
.about-s4 {
  padding: 0 0 $indent-50;
  color: $blue-bg;

  @include lgx {
    padding: $indent-95 0 $indent-80;
  }
}

.about-s5 {
  padding: 0 0 $indent-170;
  color: $blue-bg;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("/img/sup-bg.png");

  @include lgx {
    padding: $indent-95 0 $indent-260;
  }
}

.row-inner__block-desc span {
  font-weight: 600;
}

.row-inner__block-desc.row-inner__block-desc--top {
  margin-bottom: $indent-30;
}

.row {
  display: flex;
  flex-direction: column-reverse;

  @include md {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.row__col50 {
  width: 100%;
  position: relative;

  @include md {
    width: 45%;
  }
}

.partners .index-s__top .h2 {
  display: flex;

  @include md {
    display: none;
  }
}

.about-s .row__col50 .row__col50-images {
  box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  @include md {
    margin-bottom: 0;
  }
}

.about-s .row-inner__list {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @include sm {
    font-size: 18px;
    line-height: 24px;
  }
}

.kos-s .row-inner__block-desc,
.about-s .row-inner__block-desc {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @include sm {
    font-size: 18px;
    line-height: 24px;
  }
}

.about-s .row__col50 .row__col50-images:not(:last-child) {
  margin-bottom: $indent-30;
}

.about-s .row__col50 .row__col50-images:not(:last-child) {
  @include md-down {
    margin-bottom: $indent-30;
  }
}

.row__col50 .row__col50-images {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.row__col50 .row__col50-images img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.kos-s1 .row__col50 .h4,
.kos-s4 .row__col50 .h4,
.kos-s2 .row__col50 .h4,
.kos-s3 .row__col50 .h4,
.about-s2 .row__col50 .h4,
.about-s3 .row__col50 .h4,
.about-s4 .row__col70 .h4 {
  margin-bottom: $indent-30;
  font-weight: bold;
}

.about-s3 .row__col50 {
  align-self: flex-start;
}

.about-s3 .row__col50:not(:first-child) {
  @include sm-down {
    margin-bottom: $indent-30;
  }
}

.about-s4 .row {
  display: flex;
  background-color: $white;
  padding: $indent-30 $indent-15;
  box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.15);
  border-radius: 10px;

  @include sm {
    padding: $indent-50 $indent-40 $indent-55;
  }

  @include lgx {
    padding: $indent-65 $indent-60;
  }
}

.about-s4 .index-s__top-image {
  display: none;

  @include lgx {
    display: block;
    width: 185px;
    position: absolute;
    z-index: 0;
    right: auto;
    left: 0;
    bottom: 0;
  }
}

.about-s4 .row__body {
  @include sm-down {
    flex-direction: column-reverse;
  }

  @include sm{
    flex-direction: row;
  }
}

.about-s4 .row__col70 {
  width: 100%;

  @include sm {
    width: 70%;
  }
}

.about-s4 .row__col30 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: $indent-30;

  @include sm {
    margin-bottom: 0;
    width: 25%;
    align-items: center;
  }
}

.about-s4 .row__col70 .row__col50-desc {
  margin-bottom: $indent-30;
}

.about-s4 .row__col30__img {
  max-height: 200px;
  height: 100%;

  @include md {
    max-height: 385px;
  }
}

.about-s4 .btn-wrapp {
  width: 100%;

  @include md {
    max-width: 450px;
  }
}

.about-s4 .btn-wrapp .button-rect {
  border-radius: 5px;
}

.about-s4 .btn-wrapp .btn-blue {
  margin-bottom: $indent-10;

  @include sm {
    margin-bottom: 0;
    margin-right: $indent-10;
  }
}

.about-s4 .btn-wrapp .btn-white {
  margin-bottom: 0;
  margin-right: 0;
}