<div class="card-s card">
    <div class="card__el-inner card-s__el-inner">
        <div class="card-s__el-img" style="background-image: url('/img/bg1-sl.png');">
            <div class="card-s__el-top">
                @@include('_favorites.html')
            </div>
        </div>
    </div>
    <div class="card-s__el-content">
        <div class="card-s__el-desc">Спортивный летний лагерь для детей
        </div>
        <div class="card-s__sales">
            <div class="card-s__sales-sum">
                <span class="value text-sx-s">120</span>
                <span class="currency text-sx-s">Br</span>
            </div>
            <div class="card-s__sales-sale">-40%</div>
        </div>
    </div>
    <div class="button-rect btn-blue-s" type="button">
        <img src="/img/cart.svg" class="button__i" alt="">
        <span class="value button-s">1000</span>
        <span class="currency button-s ">Br</span>
    </div>
</div>