<div class="card-tr card">
    <a href="##" class="js-modal-item-ajax card__fake-link"></a>
    <div class="card__el-inner card-s__el-inner">
        <div class="card-tr__el-img" style="background-image: url('/img/trainer-bg1.png');">
            <div class="card-s__el-top">
                @@include('_tg-online.html')
            </div>
        </div>
    </div>
    <div class="card-s__el-content">
        <div class="card-tr__el-name">Яскулд Артемий Романович
        </div>
        <div class="card-tr__el-desc">
            <div class="card-tr__el-top">
                <span class="card-tr__el-age">44 года</span>
                <span class="card-tr__el-experience">Опыт работы - 10 лет</span>
            </div>
            <div class="card-tr__el-bottom">
                <span class="card-tr__el-experience">Опыт работы - 10 лет</span>
                @@include('_stars.html')
            </div>
        </div>
        <div class="card-tr__el-text">Персональный футбольный тренер, воспитанники которого становятся чемпионами
            областных турниров</div>
    </div>
</div>