<div class="card-big card">
    <div class="card__el-inner card-big__el-inner">
        <div class="card-big__el-images">
            <div class="card-big__el-img" style="background-image: url('/img/card-big1.png');">
            </div>
            @@include('_circle-el.html')
        </div>
        <div class="card-big__el-content">
            <div class="card-big__el-desc">Бесплатный набор в детский лагерь “Три мишки”
            </div>
            <div class="card-big__el-address">
                <p class="grid-row__address grid-row__address--desk text-xxs">Город Свилочь, ул. К.Калиновского 2</p>
                @@include('_metro-block.html')
            </div>
        </div>
        <div class="card-big__el-footer">
            <div class="button-full button-s" type="button">
                <span class="button-full-desk">Подробнее о группе</span>
                <span class="button-full-mob">Подробнее</span>
            </div>
        </div>
    </div>
</div>