<div class="card-big-t card">
    <div class="card__el-inner card-big-t__el-inner">
        <div class="card-big-t__el-images">
            <div class="card-big-t__el-img" style="background-image: url('/img/big-t1.png');">
            </div>
        </div>
        <div class="card-big__el-t-content">
            <p class="card-big__el-t-desc card-big__el-t-desc-bolt">А также независимые государства, которые представляют собой яркий пример
                континентально-европейского типа политической
            </p>
            <div class="card-big__el-t-desc text-sx">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
            <a href="#" class="card-big-t__btn">
                <span>Подробнее</span>
                <span class="rating-block__el">
                    <svg viewBox="0 0 25 8">
                        <use xlink:href="/img/sprite.svg#arr-big-r"></use>
                    </svg>
                </span>
            </a>
        </div>
        <div class="card-big__el-t-footer">
            <div class="card-big__el-t-footer-inner">
                <div class="card-big__el-t-date link-s">1.09.2021</div>
                <div class="card-big__el-t-time link-s">15:11</div>
            </div>
        </div>
    </div>
</div>