<div class="card-big-ic card">
    <div class="card__el-inner card-big-ic__el-inner">
        <div class="card-big-ic__el-images">
            <div class="card-big-ic__el-img" style="background-image: url('/img/card-big1.png');">
            </div>
            @@include('_circle-el.html')
        </div>
        <div class="card-big-ic__el-content">
            <div class="card-big-ic__el-desc">“Свислочская специализированная детско-юношеская школа олимпийского резерва”
            </div>
            <div class="card-big-ic__el-address">
                <p class="grid-row__address grid-row__address--desk text-xxs">г. Свилочь, ул. К.Калиновского 2</p>
                @@include('_metro-block.html')
            </div>
            @@include('_avatar-block.html')
        </div>
        <div class="card-big-ic__el-footer">
            <div class="button-full button-s" type="button">
                <span class="button-full-desk">Подробнее о группе</span>
                <span class="button-full-mob">Подробнее</span>
            </div>
        </div>
    </div>
</div>