<div class="catalog-alpha">
    <ul class="catalog-alpha__tag">
        <li>
            <a href="#А">А</a>
        </li>
        <li>
            <a href="#Б">Б</a>
        </li>
        <li>
            <a href="#В">В</a>
        </li>
        <li>
            <a href="#Г">Г</a>
        </li>
        <li>
            <a href="#Д">Д</a>
        </li>
        <li>
            <a href="#Е">Е</a>
        </li>
        <li>
            <a href="#Ж">Ж</a>
        </li>
        <li>
            <a href="#З">З</a>
        </li>
    </ul>

    <div class="catalog-alpha-row">
        <div class="catalog-alpha-list__header">
            <span id="А">А</span>
        </div>
        <ul class="catalog-alpha-col">
            <li>
                <a href="#">Аквабайк</a>
                <img src="/img/logo-olimp.svg" alt="Аквабайк">
            </li>
            <li>
                <a href="#">Автомодельный спорт</a>
            </li>
            <li>
                <a href="#">Акробатика</a>
            </li>
            <li>
                <a href="#">Акробатический рок-н-ролл</a>
            </li>
            <li>
                <a href="#">Альпинизм</a>
            </li>
            <li>
                <a href="#">Армспорт</a>
            </li>
            <li>
                <a href="#">Американский футбол</a>
            </li>
        </ul>
    </div>
    <div class="catalog-alpha-row">
        <div class="catalog-alpha-list__header">
            <span id="Б">Б</span>
        </div>
        <ul class="catalog-alpha-col">
            <li>
                <a href="#">Бадминтон</a>
            </li>
            <li>
                <a href="#">Баскетбол</a>
            </li>
            <li>
                <a href="#">Бейсбол</a>
            </li>
            <li>
                <a href="#">Биатлон</a>
            </li>
            <li>
                <a href="#">Бобслей</a>
            </li>
        </ul>
    </div>
</div>