<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el1"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el2"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el3"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el4"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el5"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el6"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el7"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el8"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el9"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el10"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el11"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el12"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el1"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el2"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el3"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el4"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el5"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el6"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el7"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el8"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el9"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el10"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el11"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el12"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el1"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el2"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el3"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el4"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el5"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el6"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el7"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el8"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el9"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el10"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el11"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el12"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el1"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el2"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el3"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el4"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el5"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el6"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el7"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el8"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el9"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el10"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el11"></use>
    </svg>
</a>
<a href="#" class="circle-el">
    <svg viewBox="0 0 66 71">
        <use xlink:href="/img/sprite.svg#circle_el12"></use>
    </svg>
</a>