<div class="icon-block">
    <div class="icon-block__img icon-block__img--img1">
        <img src="/img/icon1.svg" alt="">
        <span>56</span>
    </div>
    <div class="icon-block__img icon-block__img--img2">
        <img src="/img/icon2.svg" alt="">
        <span>56</span>
    </div>
    <div class="icon-block__img icon-block__img--img3">
        <img src="/img/star2.svg" alt="">
        <span>56</span>
    </div>
    <div class="icon-block__img icon-block__img--img4">
        <img src="/img/icon3.svg" alt="">
        <span>56</span>
    </div>
</div>