<div class="mobile-menu js-mobile-menu">
    <div class="mobile-menu__container">
        <div class="mobile-menu__inside-wrap">
            <div class="mobile-menu__search search form">
                <form action="" class="search__form">
                    <div class="form__field search__field">
                        <input type="text" name="" class="js-mobile-form-search search__input form__input"
                               placeholder="Поиск по сайту">
                        <button class="search__button">
                        <span class="search__icon">
                             <svg class="icon-svg">
                                <use xlink:href="/img/sprite.svg#search"></use>
                             </svg>
                        </span>
                        </button>
                    </div>
                </form>
            </div>

            <button class="btn-add-company mobile-menu__btn-add-company">
                <span class="btn-add-company__text">Добавить компанию</span>
                <svg class="btn-add-company__icon icon-svg">
                    <use xlink:href="/img/sprite.svg#icon-plus"></use>
                </svg>
            </button>
            <button class="mobile-menu__btn-reg-auth btn-reg-auth js-open-md" data-opn="reg-auth">
                <span class="btn-reg-auth__text">Вход/Регистрация</span>
                <i class="btn-reg-auth__icon">
                    <svg class="icon-svg">
                        <use xlink:href="/img/sprite.svg#icon-user"></use>
                    </svg>
                </i>
            </button>
            <ul class="mobile-menu__wrapper mobile-menu-list js-mobile-menu-list">
                <li class="mobile-menu-list__category"><a href="##" class="mobile-menu-list__category-link">Каталог</a>
                    <ul class="mobile-menu-list__submenu">
                        <li class="mobile-menu-list__submenu-item active">
                            <a href="##">Виды спорта</a>
                        </li>
                        <li class="mobile-menu-list__submenu-item">
                            <a href="##">Инваспорт</a>
                        </li>
                        <li class="mobile-menu-list__submenu-item">
                            <a href="##">Спорт лагеря</a>
                        </li>
                        <li class="mobile-menu-list__submenu-item">
                            <a href="##">Online обучение</a>
                        </li>
                        <li class="mobile-menu-list__submenu-item">
                            <a href="##">Аренда</a>
                        </li>
                    </ul>
                </li>
                <li class="mobile-menu-list__category"><a class="mobile-menu-list__category-link" href="##">Абонементы</a></li>
                <li class="mobile-menu-list__category"><a class="mobile-menu-list__category-link" href="##">Набор</a></li>
                <li class="mobile-menu-list__category"><a class="mobile-menu-list__category-link" href="##">Лагерь</a></li>
                <li class="mobile-menu-list__category"><a class="mobile-menu-list__category-link" href="##">Аренда</a></li>
                <li class="mobile-menu-list__category"><a class="mobile-menu-list__category-link" href="##">Мероприятия</a></li>
                <li class="mobile-menu-list__category"><a class="mobile-menu-list__category-link" href="##">Актуальное</a></li>
            </ul>
            <div class="mobile-menu__cont-block cont-block">
                <div class="cont-row">
                    <svg class="cont__icon">
                        <use xlink:href="/img/sprite.svg#instagram"></use>
                    </svg>
                    <a href="" class="cont__mail text-xxs">@Abon_Inst_Info</a>
                </div>
                <div class="cont-row">
                    <svg class="cont__icon">
                        <use xlink:href="/img/sprite.svg#email"></use>
                    </svg>
                    <a href="mailto:abon@mail.ru" class="cont__mail text-xxs">Abon@mail.ru</a>
                </div>
            </div>
        </div>
    </div>
</div>