<div class="soc-block__soc-list soc-list">
    <div class="soc-list__icon soc-list__icon1">
        <img src="src/svg/telegram.svg" alt="">1
    </div>
    <div class="soc-list__icon soc-list__icon2">
        <img src="src/svg/fb.svg" alt="">
    </div>
    <div class="soc-list__icon soc-list__icon3">
        <img src="src/svg/vk.svg" alt="">
    </div>
    <div class="soc-list__icon soc-list__icon4">
        <img src="src/svg/insta.svg" alt="">
    </div>
    <div class="soc-list__icon soc-list__icon5">
        <img src="src/svg/vbr.svg" alt="">
    </div>
</div>