<div class="container">
    <div class="top-menu">
        <ul class="top-menu__list">
            <li class="top-menu__item top-menu__item-catalog">
                <a href="##" class="top-menu__link">
                    <i class="top-menu__burger"></i>
                    Каталог
                </a>
            </li>
            <li class="top-menu__item">
                <a href="##" class="top-menu__link">Абонементы</a>
            </li>
            <li class="top-menu__item">
                <a href="##" class="top-menu__link">Набор</a>
            </li>
            <li class="top-menu__item">
                <a href="##" class="top-menu__link">Лагерь</a>
            </li>
            <li class="top-menu__item">
                <a href="##" class="top-menu__link">Аренда</a>
            </li>
            <li class="top-menu__item">
                <a href="##" class="top-menu__link">Мероприятия</a>
            </li>
            <li class="top-menu__item">
                <a href="##" class="top-menu__link">Актуальное</a>
            </li>
        </ul>
        <div class="menu-buttons">
            <a href="##" class="menu-buttons__favorite">
                <svg class="icon-svg">
                    <use xlink:href="/img/sprite.svg#heart"></use>
                </svg>
            </a>
            <a href="##" class="menu-buttons__cart">
                <svg class="icon-svg">
                    <use xlink:href="/img/sprite.svg#icon-cart"></use>
                </svg>
            </a>
        </div>
        <button class="btn-reg-auth">
            <span class="btn-reg-auth__text">Вход/Регистрация</span>
            <i class="btn-reg-auth__icon">
                <svg class="icon-svg">
                    <use xlink:href="/img/sprite.svg#icon-user"></use>
                </svg>
            </i>
        </button>
    </div>
</div>