.top-menu {
	@include flex(center, space-between);
}

.top-menu__list {
	@include flex(center, flex-start);
}

.top-menu__burger {
	position: relative;
	display: inline-block;
	top: 50%;
	transform: translate(-15px, -50%);
	width: 24px;
	height: 3px;
	background: #ffffff;

	&:before,
	&:after {
		position: absolute;
		content: '';
		left: 0;
		width: 100%;
		height: 3px;
		background: #ffffff;
	}

	&:before {
		top: -7px;
	}

	&:after {
		top: 7px;
	}
}

.top-menu__item {
	position: relative;
	list-style: none;

	&:last-child {
		.top-menu__link:before {
			display: none;
		}
	}

	&:first-child {
		.top-menu__link:after {
			position: absolute;
			content: '';
			left: -25px;
			top: 0;
			width: 25px;
			height: 100%;
			background-color: transparent;
			transition: background-color .3s ease;
		}

		.top-menu__link:hover:after {
			background-color: #2C4CA3;
		}
	}

	&:hover {
		.top-menu__dropdown {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}
}

.top-menu__dropdown {
	position: absolute;
	left: -25px;
	top: 68px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	background: #051138;
	margin: 0;
	padding: 0;
	width: 278px;
	z-index: 1;
	transition: all .3s;
}

.top-menu__dropdown-item {
	list-style: none;
	margin: 0;
	padding: 8px 16px;
	color: #C3C3C3;
	border-bottom: 1px solid rgba(195, 195, 195, 0.5);
	cursor: pointer;

	&:hover {
		background: #2C4CA3;
		color: $white;
	}
}

.top-menu__item-catalog .top-menu__link {
	@include flex(center, center);
	padding-left: 15px;
}

.top-menu__link {
	display: block;
	position: relative;
	padding: 24px 25px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	transition: background-color .3s ease;

	&:hover {
		background-color: #2C4CA3;
	}

	&:before {
		position: absolute;
		content: '';
		height: 36px;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 1px;
		background: rgba(195, 195, 195, .5);
	}
}