.footer {
  background-color: $blue-bg;
  color: $white;
  padding: $indent-25 0 $indent-40;
  position: relative;

  @include sm {
    padding: $indent-60 0 $indent-40;
  }
}

.footer .logo {
  display: flex;
  margin-bottom: $indent-30;

  @include sm {
    margin-bottom: 0;
  }

  @include lg {
    margin-bottom: $indent-25;
  }
}

.cont-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @include sm {
    justify-content: flex-start;
  }

  @include lg {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
  }
}

.footer-top {
  display: flex;
  flex-direction: column;

  @include sm {
    margin-bottom: 5px;
  }

  @include lg {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}

.footer-col20 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $indent-20;

  @include sm {
    //margin-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @include lg {
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.cont__mail {
  display: flex;
  align-items: center;
}

.cont__icon {
  margin-right: 8px;
}

.footer-col80 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @include lg {
    width: 75%;
  }
}

.footer__list {
  margin-top: 20px;
}

.footer-col30 {
  width: 46%;
  margin: 0 10px 30px 0;

  @include csx {
  width: 30%;
}

  @include lg {
    margin: 0;
  }
}

.footer-col30__item:not(:last-child) {
  padding-bottom: 10px;
}

.footer-icon__list {
  display: none;

  @include lg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom__col70 {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include sm {
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }

  @include lg {
    width: 67%;
  }

  @include lgx-down {
    max-width: 350px;
  }

  @include sm-down {
    order: 2;
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
  }
}

.footer-logo {
  @include sm-down {
    order: 2;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;

  @include md {

  }

  @include lgx {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-info__copy {
  margin-bottom: 7px;
  white-space: nowrap;

  @include lg-down {
    order: 2;
  }

  @include md {
    margin-bottom: 0;
  }

  @include lg {
    margin-right: 132px;
  }
}

.footer-info__policy {
  color: #767f9c;

  @include md {
    margin-right: 20px;
    white-space: nowrap;
  }
}

.footer-desc {
  color: $gray-d-tx;
}

.footer-desc a {
  display: inline-block;
  color: $white;
  text-decoration: none;
}

.footer-bottom__col30 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;

  @include sm-down {
    order: 1;
    margin-bottom: 38px;
    flex-direction: column;
    align-items: center;
  }

  @include sm {
    width: 40%;
    justify-content: flex-end;
  }

  @include lg {
    width: 30%;
  }
}

.soc-block__title {
  margin-right: 10px;
  color: $gray-d-tx;

  @include sm-down {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

.footer-middle {
  padding-bottom: $indent-35;
  border-bottom: 1px solid $gray-b;

  @include sm {
    padding-bottom: $indent-55;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: $indent-35;
  padding-top: $indent-25;
  color: $gray-d-tx;

  @include sm {
    flex-direction: row;
    padding-bottom: $indent-40;
  }
}

.cont-row {
  display: flex;
  align-self: center;

  @include lg {
    align-self: flex-start;
  }
}

.cont-row:not(:last-child) {
  margin-right: 20px;

  @include md {
    margin-right: 34px;
  }
}

.cont-row svg {
  width: 20px;
  height: 20px;
}

.cont-row a {
  color: white;
  text-decoration: none;
}

.footer-col30__item {
  list-style-type: none;
}

.footer-col30__item a {
  color: white;
  text-decoration: none;
}

.footer-col30 span.text-xs {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 18px;

  @include sm {
    margin-bottom: 29px;
  }
}

.footer-logo {
  width: 61px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;

  @include sm {
    margin-right: 10px;
  }
}

.footer-logo img {
  width: 100%;
  height: 100%;
}
.footer .container {
  position: relative;
}

//chat

.chat-circle {
  width: 62px;
  height: 62px;
  position: absolute;
  top: -90px;
  right: 20px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid $white;
  background-color: $blue-bg;
  cursor: pointer;

  @include lg {
    right: 100px;
  }
}

.chat-circle svg {
  width: 25px;
  height: 25px;
  top: 3px;
  position: relative;
}

.modal-window__chat {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 293px;
  background: transparent;
  top: -250px;
  right: 10px;
  z-index: 101;
  transition: transform .5s ease;
  box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.15);
  border-radius: 10px;

  @include sm {
    right: 100px;
  }

  @include lg {
    right: 150px;
  }
}

.modal-window__chat.show {
  visibility: visible;
  opacity: 1;
}

.modal-window__content.modal-window__content--chat {
  padding: $indent-20;
  width: 293px;
  height: 160px;
}

.modal-window__content.modal-window__content--chat .modal-inner {
  align-items: flex-start;
}

.modal-window__content.modal-window__content--chat .modal-inner__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.chat-btns {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.chat-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background-color: $white;
  padding: $indent-10 0;
  border-radius: 10px;
}

.chat-btn:hover {
  background: $gray-light;
}

.chat-btn__ic {
  margin-right: $indent-10;
}

.chat-btn__ic svg {
  width: 20px;
  height: 20px;
  color: $gray-tx;
}

.chat-btn__title {
  color: $gray-tx;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.modal-window__chat-help {
  display: flex;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  right: 0;
  z-index: 102;
  transition: transform .5s ease;

  @include sm {
    justify-content: flex-end;
  }
}

.modal-window__chat-help.show-md {
  visibility: visible;
  opacity: 1;
}

.modal-window__chat-help .modal-window__close {
  display: none;

  @include sm {
    display: flex;
    right: 565px;
  }
}

.modal-window__chat-help a {
  text-decoration: none;
}

.modal-window__content--chat-help .modal-window__close.modal-window__close--mob {
  display: flex;
  right: 0;

  @include sm {
    display: none;
  }
}

.modal-window__chat-help .modal-window__close svg {
  width: 44px;
  height: 44px;

  @include sm {
    width: 53px;
    height: 53px;
  }
}

.modal-window__content.modal-window__content--chat-help {
  padding: $indent-10;
  height: 100%;
  border-radius: 0;
  z-index: 102;
  width: 320px;
  overflow-y: scroll;

  @include sm {
    padding: $indent-20;
    width: 560px;
  }

  @include lg {
    padding: $indent-40 $indent-30;
  }
}

.modal-window__content.modal-window__content--chat-help .modal-inner {
  align-items: flex-start;
}

.modal-window__content.modal-window__content--chat-help .row-acc__form.row-acc__form--chat-help {
  width: 100%;
}

.row-acc__form.row-acc__form--chat-help .row-acc__col50--title {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: $indent-10;

  @include sm {
    font-size: 22px;
    line-height: 20px;
    margin-bottom: $indent-30;
  }

  @include lg {
    margin-bottom: $indent-80;
    font-size: 32px;
    line-height: 20px;
  }
}

.modal-window__content.modal-window__content--chat-help .modal-inner__title  {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  @include lg {
    border-bottom: 1px solid #F1F2F5;
    padding-bottom: $indent-30;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    margin-bottom: $indent-100;
  }
}

.modal-window__content.modal-window__content--chat-help .button-rect {
  margin: 0 0 0 auto;
}

.modal-window__content.modal-window__content--chat-help .modal-window__close svg {
  width: 30px;
  height: 30px;

  @include lg {
    width: 53px;
    height: 53px;
  }
}

.modal-window__content.modal-window__content--chat-help .modal-window__close {
  position: absolute;
  top: 10px;
  right: 10px;
  left: auto;
  cursor: pointer;

  @include lg {
    top: 15px;
    right: auto;
    left: -60px;
  }
}

.row-acc__form--chat-help .form-textarea__light  {
  height: 48px;
  margin-bottom: $indent-10;
  padding: $indent-10;

  @include lg {
    height: 98px;
    margin-bottom: $indent-15;
  }

  @include lg-down {
    font-size: 14px;
    line-height: 16px;
  }
}

.row-acc__form--chat-help .row-acc__form-row--bottom .row-acc__form-col.row-acc__form-col--100 {
  flex-direction: column;

  @include lg-down {
    padding: $indent-10 0;
    margin-bottom: $indent-10;
  }
}

.row-acc__form--chat-help .select-light .select__header {
  @include lg-down {
    height: 32px;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
  }
}

.row-acc__form--chat-help .select__item {
  @include lg-down {
    padding: 5px $indent-10;
  }
}

.row-acc__form--chat-help .label-light__file {
  margin-right: 0;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;

  @include sm {
    margin-bottom: 0;
  }
}

.row-acc__form--chat-help .form-row__icon {
  @include lg-down {
    display: none;
  }
}

.row-acc__form--chat-help .row-acc__form-col.row-acc__form-col--wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @include lgx {
    flex-direction: row;
    justify-content: center;
  }
}

.row-acc__form--chat-help [type="file"]::-webkit-file-upload-button {
  background: $white;
  border: 2px solid transparent;
  color: $blue;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 5px 0;
  transition: all 1s ease;
  border-radius: 15px;
  width: 150px;
}

.row-acc__form-desc {
  font-size: 12px;
  line-height: 17px;
  color: $gray-tx;
  font-weight: 400;
  margin-top: 5px;
}

.modal-inner__img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: $indent-30;

  @include sm {
    margin-bottom: $indent-70;
  }
}

.row-acc__col50--subtitle {
  font-size: 16px;
  line-height: 21px;
  color: $gray-tx;
  font-weight: 400;
  margin: $indent-20 auto $indent-30;
  text-align: center;

  @include sm {
    line-height: 23px;
    font-size: 18px;
    margin: $indent-30 auto $indent-60;
  }
}

.modal-window__content--chat-help-submit .row-acc__col50--title {
  margin: 0 auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: $blue-bg;

  @include sm {
    font-size: 28px;
  }
}

.modal-window__content.modal-window__content--chat-help.modal-window__content--chat-help-submit .button-rect {
  width: 189px;
  margin: 0 auto;
}