.footer {
  background-color: $blue-bg;
  color: $white;
  padding: $indent-60 0 $indent-40;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;

  @include sm-down {
    padding: 0 10px;
  }
}

.cont-block {
  display: flex;
  flex-direction: row;
  padding-bottom: $indent-50;

  @include lg {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.footer-top {
  display: flex;
  flex-direction: column;

  @include sm {
    margin-bottom: 5px;
  }

  @include lg {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}

.footer-col20 {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include sm {
    flex-direction: row;
    justify-content: space-between;
  }

  @include lg {
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.cont__mail {
  margin-left: 7px;
}

.footer-col80 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @include lg {
    width: 75%;
  }
}

.footer-col30 {
  width: 47%;
  margin: 0 10px 30px 0;

  @include csx {
  width: 30%;
}

  @include lg {
    margin: 0;
  }
}

.footer-col30__item:not(:last-child) {
  padding-bottom: 10px;
}

.footer-icon__list {
  display: none;

  @include lg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom__col70 {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include sm {
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }

  @include lg {
    width: 67%;
  }

  @include lgx-down {
    max-width: 350px;
  }

  @include sm-down {
    order: 2;
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
  }
}

.footer-logo {
  @include sm-down {
    order: 2;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;

  @include md {

  }

  @include lgx {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-info__copy {
  margin-bottom: 7px;
  white-space: nowrap;

  @include lg-down {
    order: 2;
  }

  @include md {
    margin-bottom: 0;
  }

  @include lg {
    margin-right: 132px;
  }
}

.footer-info__policy {
  @include md {
    margin-right: 20px;
    white-space: nowrap;
  }
}

.footer-desc {
  color: $gray-d-tx;
}

.footer-desc a {
  display: inline-block;
  color: $white;
  text-decoration: none;
}

.footer-bottom__col30 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;

  @include sm-down {
    order: 1;
    margin-bottom: 38px;
    flex-direction: column;
    align-items: center;
  }

  @include sm {
    width: 40%;
    justify-content: flex-end;
  }

  @include lg {
    width: 30%;
  }
}

.soc-block__title {
  margin-right: 10px;

  @include sm-down {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

.footer-middle {
  padding-bottom: $indent-35;
  border-bottom: 1px solid $gray-b;

  @include sm {
    padding-bottom: $indent-55;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: $indent-35;
  padding-top: $indent-25;
  color: $gray-d-tx;

  @include sm {
    flex-direction: row;
    padding-bottom: $indent-40;
  }
}

.cont-row {
  display: flex;

  @include md-down {
    margin-right: 34px;
  }

  @include sm-down {
    margin-right: 20px;
  }
}

.cont-row svg {
  width: 20px;
  height: 20px;
}

.cont-row a {
  color: white;
  text-decoration: none;
}

.footer-col30__item {
  list-style-type: none;
}

.footer-col30__item a {
  color: white;
  text-decoration: none;
}

.footer-col30 span.text-xs {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 18px;

  @include sm {
    margin-bottom: 29px;
  }
}

.footer-logo {
  width: 61px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;

  @include sm {
    margin-right: 10px;
  }
}

.footer-logo img {
  width: 100%;
  height: 100%;
}