.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: $blue-bg;
	z-index: 101;

	@include lg {
		position: relative;
	}
}

.header__top {
	padding: 10px 0;

	@include md {
		padding: 20px 0;
	}
}

.header__container {
	@include flex(center, space-between);
}

.logo {
	display: block;
	width: 140px;
	height: 34px;
	background: url("/img/logo.png") no-repeat center;
	background-size: contain;

	@include md {
		width: 250px;
		height: 60px;
	}
}

.header__location-change {
	display: none;

	@include md {
		display: flex;
	}
}

.header__left {
	@include flex(center, flex-start);
}

.header__center {
	overflow: hidden;
	width: 50px;
	margin-left: auto;

	@include md {
		width: 230px;
		flex: 0 0 auto;
	}

	@include lg {
		width: 300px;
		margin-left: 0;
	}
}

.header__right {
	display: none;
	@include lg {
		@include flex(center, flex-start);
	}
}

.header__mobile-right {
	@include flex(center, flex-start);

	@include md {
		margin-left: 10px;
	}

	@include lg {
		display: none;
	}
}

.header__mobile-right-icon {
	@include flex(center, center);
	width: 50px;
	height: 50px;
}

.header__cont-block.header__cont-block {
	flex-direction: row;
	padding-bottom: 0;
}

.header__cont-block .cont-row {
	margin-bottom: 0;
	align-items: center;

	&:first-child {
		margin-right: 20px;
	}

	a {
		color: rgba(195, 195, 195, .5);
	}
}

.header__search-form {
	.search__button {
		@include md-down {
			opacity: 0;
			visibility: hidden;
		}
	}

	input {
		@include md-down {
			&::placeholder,
			&::-webkit-input-placeholder {
				color: transparent;
			}
		}
	}

	.form__input {
		color: #ffffff;
	}
}