.header {
	background: $blue-bg;
}
.header__top {
	padding: 20px 0;
}

.header__container {
	@include flex(center, space-between);
}

.header__logo {
	display: block;
	width: 250px;
	height: 60px;
	background: url("/img/logo.png") no-repeat center;
	background-size: contain;
}

.header__left {
	@include flex(center, flex-start);
}

.header__center {
	width: 300px;
	flex: 0 0 auto;
}

.header__right {
	@include flex(center, flex-start);
}

.header__cont-block.header__cont-block {
	flex-direction: row;
	padding-bottom: 0;
}

.header__cont-block .cont-row {
	margin-bottom: 0;
	align-items: center;

	&:first-child {
		margin-right: 20px;
	}

	a {
		color: rgba(195, 195, 195, .5);
	}
}