.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: $blue-bg;
	z-index: 101;

	@include lg {
		position: relative;
	}
}

.header__top {
	position: relative;
	padding: 10px 0;
	z-index: 101;

	@include md {
		padding: 20px 0;
	}
}

.header__container {
	@include flex(center, space-between);
}

.logo {
	display: none;
	width: 140px;
	height: 34px;
	background: url("/img/logo.png") no-repeat center;
	background-size: contain;

	@include md {
		display: block;
		width: 250px;
		height: 60px;
	}
}

.logo-mob {
	display: block;
	width: 41px;
	height: 50px;
	background: url("/img/logo-mob.svg") no-repeat center;
	background-size: contain;

	@include md {
		display: none;
		width: 250px;
		height: 60px;
	}
}

.header__location-change {
	display: none;

	@include md {
		display: flex;
	}
}

.header__left {
	position: relative;
	@include flex(center, flex-start);
}

.header__center {
	overflow: hidden;
	width: 50px;
	margin-left: auto;
	transition: all .2s ease-in-out;

	@include md {
		width: 230px;
		flex: 0 0 auto;
	}

	@include lg {
		width: 300px;
		margin-left: 0;
	}
}

.header__center-active {
	width: 100%;
}

.header__right {
	display: none;
	@include lg {
		@include flex(center, flex-start);
	}
}

.header__mobile-right {
	@include flex(center, flex-start);

	@include lg {
		display: none;
	}
}

.header__mobile-right-icon {
	@include flex(center, center);
	width: 35px;
	height: 50px;

	@include sm {
		width: 50px;
	}
}

.header__cont-block.header__cont-block {
	flex-direction: row;
	padding-bottom: 0;
}

.header__cont-block .cont-row {
	margin-bottom: 0;
	align-items: center;

	&:first-child {
		margin-right: 20px;
	}

	a {
		color: rgba(195, 195, 195, .5);

		&:hover {
			color: $orange;
		}
	}
}

.header__search-form {
	@include sm {
		padding: 0 10px;
	}

	.search__field {
		margin: 0 0 0 auto;
	}

	.search__button {
		@include md-down {
			opacity: 0;
			visibility: hidden;
		}
	}

	.search__input {
		@include lg-down {
			visibility: hidden;
		}

		@include lgx-down {
			padding-left: 0;
		}
	}

	input {
		@include md-down {
			&::placeholder,
			&::-webkit-input-placeholder {
				color: transparent;
			}
		}
	}

	.form__input {
		color: #ffffff;

		@include lgx-down {
			border-color: transparent;
		}
	}
}

.modal-window__content.modal-window__content--check-email,
.modal-window__content.modal-window__content--no-active {
	padding: $indent-15;
	width: 320px;
	display: flex;
	flex-direction: column;
	text-align: center;

	@include lgx {
		width: 400px;
		padding: $indent-45 $indent-30;
	}
}

.modal-window__content.modal-window__content--check-email .row-acc__col25-top,
.modal-window__content.modal-window__content--no-active .row-acc__col25-top {
	flex-direction: column;
}

.modal-window__content.modal-window__content--no-active .row-acc__list-icon svg {
	color: $red;
	width: 35px;
	height: 35px;
	margin-bottom: $indent-35;
}

.modal-window__content.modal-window__content--check-email .row-acc__list-icon svg {
	color: $orange;
	width: 35px;
	height: 35px;
	margin-bottom: $indent-35;
}

.modal-window__content.modal-window__content--check-email a,
.modal-window__content.modal-window__content--no-active a {
	text-decoration: none;
}