.modal-window.modal-window--reg-auth {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-window__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 410px;
  width: 100%;
}

.modal-window--reg-auth .modal-window__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;

  @include lg {
    top: 30px;
    left: 80px;
  }
}

.modal-window__top a {
  color: $white;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.modal-window__nav-link:not(:last-child) {
  margin-right: $indent-15;
}


.modal-window__inner-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-window__inner-link img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.modal-window__content.modal-window__content--reg {
  padding: $indent-20;
  width: 320px;

  @include sm {
    width: 520px;
    padding: $indent-80 $indent-90;
  }
}

.modal-window__form--link {
  color: $blue;
  text-decoration: none;
  margin: 0 auto;
  display: inline-block;
}

.reg-auth__form .button-rect {
  margin-bottom: $indent-35;
  border-radius: 15px;
  padding: $indent-10;
}

.reg-auth__form {
  display: flex;
  flex-direction: column;
}