.fc-s1 {
  padding-top: $indent-25;
  border-top: 1px solid $blue;
  margin-bottom: $indent-30;

  @include lg {
    margin-bottom: $indent-60;
  }
}

.fc-s1 .fc-s1__top.grid-row {
  justify-content: flex-start;
  margin-bottom: $indent-10;

  @include sm {
    margin-bottom: $indent-15;
  }

  @include lg {
    margin-bottom: $indent-35;
  }
}
.fc-s1__wrap {
  margin-bottom: $indent-15;

  @include lg {
    margin-bottom: $indent-55;
  }
}

.grid-col30 {
  @include sm-down {
    margin-bottom: 5px;
  }
}

.grid-col30__rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fc-s1__top .grid-col70 {
  display: none;

  @include sm {
    display: flex;
  }
}

.fc-s1 .fc-s1__body .grid-col70 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: $indent-20;
  font-size: 14px;
  line-height: 17px;

  @include lg {
    display: none;
  }
}

.fc-s1 .grid-row.fc-s1__body {
  margin-bottom: $indent-60;

  @include lgx-down {
    margin-bottom: $indent-30;
    flex-direction: column-reverse;
  }
}

.tag-hashtag {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  padding: 6px 12px;
  overflow: hidden;
  color: $white;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-bottom: $indent-10;
}

.tag-hashtag:not(:last-child) {
  margin-right: $indent-10;
}

.fc-s1 .fc-s1__body .grid-col70 .link-s {
  font-size: 14px;
  line-height: 17px;
}

.fc-s1__body-tags-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $indent-35;

  @include lg {
    margin-bottom: $indent-60;
  }
}

.fc-s1 .fc-s1__body .grid-col70 .metro-block .text-xxs {
  font-size: 14px;
  line-height: 17px;
}

.grid-col70-inner {
  display: flex;
  flex-direction: row;
}

.fc-s1 .grid-col70 {
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.fc-s1 .grid-col70 .text-xxs {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.fc-s1 .grid-col30 {
  margin-right: $indent-35;
}

.grid-col30__rating-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $black-t;
  padding-right: $indent-10;
  border-right: 1px solid $blue;
  margin-right: $indent-10;

  @include sm {
    font-size: 18px;
    line-height: 20px;
  }
}

.grid-col70 .grid-row__address.grid-row__address--desk {
  color: $gray-tx;
  margin-right: $indent-20;
}

.grid-col70 .metro-block {
  margin-bottom: 0;
  margin-right: $indent-25;
}

.grid-col70 .grid-row__link {
  color: $blue;
  font-weight: 400;
}

.fc-s1 .rating-m__score.rating-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;

  @include sm-down {
    margin-right: 0;
  }
}

.fc-s1 .grid-row__address.grid-row__address--desk {
  display: inline-flex;
  margin-bottom: 0;
}

.slider {
  display: flex;
}

.slider-nav {
  overflow: hidden;
  width: 100px;
  margin-left: 10px;
  flex-shrink: 0;
  height: 305px;
}

.slider-main {
  overflow: hidden;
  height: 305px;
}

.slider-nav .swiper-slide {
  width: 65px;
  height: 65px;
}

.slider-nav .swiper-slide img {
  max-height: 100%;
}

.grid-col50.fc-s1__body-slider {
  //height: 100%;
  //height: 305px;
  overflow: hidden;
}

.fc-s1__body-inner {
  margin-bottom: $indent-10;

  @include sm-down {
    //background: linear-gradient(180deg, #374160 0%, rgba(55, 65, 96, 0) 81.7%);
  }
  @include lg {
    margin-bottom: $indent-30;
  }
}

.fc-s1__body-inner-el {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $black-t;

  @include lg {
    font-size: 20px;
    line-height: 28px;
  }
}

.fc-s1__body-inner-el:not(:last-child) {
  margin-bottom: $indent-30;
}

//tabs
.fc-s1__bottom .tabs-nav {
  width: 100%;
  margin-bottom: 0;
}

.fc-s1 .tabs-nav__tab-title {
  white-space: nowrap;

  @include sm-down {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: $indent-10;
  }
}

//

.gallery-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include sm {
    flex-direction: row;
    justify-content: space-between;
  }
}

.gallery-top.swiper-container  {
  height: 305px;
  width: 100%;
  margin-bottom: $indent-15;

  @include sm {
    margin-bottom: 0;
    margin-right: 10px;
    width: 90%;
  }
}

.gallery-thumbs.swiper-container {
  width: 100%;
  height: 60px;
  padding: 0;
  margin-bottom: $indent-15;

  @include sm {
    height: 305px;
    width: 60px;
    margin-bottom: 0;
  }
}

.swiper-slide.gallery-thumbs__slide:not(:last-child) {
  margin-right: $indent-15;

  @include sm {
    margin-bottom: 19px;
    margin-right: 0;
  }
}

.swiper-slide.gallery-thumbs__slide {
  width: 60px!important;
  height: 60px!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  border-radius: 10px;
}

.swiper-slide.gallery-top__slide {
  width: 100%;
  height: 305px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  border-radius: 10px;
}

