.certif-scroll-block__el {
  min-width: 200px;
  height: 240px;
  background-color: $white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include lg {
    min-width: 300px;
    height: 360px;
  }
}

.certif-scroll-block__wrap .certif-scroll-block__el:not(:last-child) {
  margin-right: 10px;

  @include lg {
    margin-right: 30px;
  }
}

.certif-scroll-block__wrap {
  display: flex;
  padding-bottom: $indent-30;
}

.certif-scroll-block .scrollbar-track.scrollbar-track-x.show {
  bottom: 5px;
}

.reviews-block__inner {
  display: flex;
}