.tc-6 {
  padding-bottom: $indent-170;
  @include lg {
    padding-bottom: $indent-120;
  }
}

.tc-6 .h3 {
  margin-bottom: $indent-30;
  display: flex;
}

.tabs-content__reviews .reviews-block__inner .button-rect {
  display: flex;

  @include sm-down {
    padding: $indent-10 0;
  }
}

.tabs-content__reviews-top {
  margin-bottom: $indent-30;

  @include sm {
    margin-bottom: $indent-40;
  }

  @include lg {
    margin-bottom: $indent-60;
  }
}

.tabs-content__reviews-top .reviews-block__inner {
  display: flex;
  flex-direction: column;
}

.tabs-content__reviews-top .button-rect {
  max-width: 257px;
  border-radius: 15px;
  overflow: hidden;
}

.tabs-content__reviews-top .rating-m {
  margin-bottom: $indent-40;
  border-bottom: 1px solid #2C4CA3;
  padding-bottom: $indent-15;
}

.tabs-content__reviews .reviews-block__review {
  background-color: $white;
  padding: $indent-20 $indent-15;
  box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: $indent-15;

  @include sm {
    margin-bottom: $indent-30;
    padding: $indent-30 $indent-30;
  }

  @include lg {
    padding: $indent-40 $indent-60;
    margin-bottom: $indent-60;
  }
}

.tabs-content__reviews .reviews-block__review-l .reviews-block__text {
  @include lg {
    width: 50%;
    margin-right: $indent-30;
  }
}

.tabs-content__reviews .reviews-block__review-l {
  margin-bottom: $indent-15;

  @include lg {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.tabs-content__reviews .reviews-block__review-wrapper {
  margin-bottom: $indent-15;

  @include lg {
    margin-bottom: 0;
    width: 40%;
    border-right: 1px solid #ababab;
  }
}

.tabs-content__reviews .reviews-block__name {
  @include lg {
    margin-bottom: $indent-15;
  }
}
