.menu-filter {
	position: absolute;
	top: 68px;
	left: 253px;
	width: 100%;
	max-width: 1000px;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all .3s ease;
	z-index: 1;

	&.active {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	@include lg-down {
		left: -10px;
		top: 110px;
		width: calc(100% + 20px);
		z-index: 101;

		.menu-filter__switcher {
			display: none;
		}

		.catalog-alpha {
			height: calc(100vh - 260px);
		}
	}
}

.menu-filter.show-mob {
	visibility: visible;
	opacity: 1;
}

.menu-filter__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.24);
	visibility: hidden;
	opacity: 0;
	transition: .2s ease-in-out;

	&.active {
		visibility: visible;
		opacity: 1;
	}
}

.menu-filter__content {
	height: 100%;
	padding: 10px;

	@include md {
		padding: 10px 15px;
	}
}

.menu-filter-search {
	margin-top: 15px;
}

.menu-filter-search .search__field,
.menu-filter-search .search__input {
	max-width: 100%;
	margin-left: 0;
}

.menu-filter-search .form__input {
	border-color: #374160;
}

.menu-filter-search .search__icon {
	color: #374160;
}

.menu-filter-search__catalog-alpha .catalog-alpha-list__header {
	padding: 17px 10px;
}

.menu-filter-search__catalog-alpha {
	height: 100%;
	margin-top: 25px;
}