.tariff-s1 {
  padding: $indent-25 0 $indent-170;

  @include lg {
    padding: $indent-60 0 $indent-260;
  }
}

.tariff-s .index-s__top {
  flex-direction: column;
  align-items: flex-start;
}

.tariff-s .index-s__top .h2 {
  margin-bottom: $indent-20;
}

.index-s__top-desc {
  color: $blue-bg;
}