*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

html,
body {
	position: relative;
	min-height: 100%;
	background: $blue-light;
	@include font-base();
	-webkit-font-smoothing: antialiased;
	font-family: 'Montserrat', 'Arial', sans-serif;
}

body {
	font-size: 1rem;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

.i-p-t-base {
	padding-top: 48px;

	@include md {
		padding-top: 60px;
	}

	@include md {
		padding-top: 88px;
	}
}

.i-p-inside {
	padding-bottom: 120px;
}

.i-p-t-sm {
	padding-top: 32px;

	@include sm {
		padding-top: 48px;
	}
}

.i-p-base {
	padding-bottom: 48px;
}

.i-p-sm {
	padding-bottom: 32px;

	@include sm {
		padding-bottom: 48px;
	}
}

.i-p-big {
	padding-bottom: 60px;

	@include md {
		padding-bottom: 175px;
	}
}

.i-p-decor {
	padding-bottom: $decor-h;

	@include md {
		padding-bottom: $decor-h + 88px;
	}
}

.no-indent {
	margin: 0 !important;
}

.main {
	overflow: hidden;
}

.ev-section {
	position: relative;
}

.ev-section--white {
	background: $white;
}

.ev-section--governance .ev-grid__col{
	margin-bottom: 24px;

	&:last-child {
		margin-bottom: 0;
	}

	@include sm {
		margin-bottom: 0;
	}
}

.ev-section--blog .ev-titles {
	margin-bottom: 20px;

	@include sm {
		margin-bottom: 30px;
	}

	@include md {
		margin-bottom: 34px;
	}
}

.ev-titles .ev-link {
	display: none;

	@include sm {
		display: block;
	}
}

.ev-titles h2 {
	margin-bottom: 0;
}

.ev-section--blue {
	background: $blue;
	color: $white;

	h2 {
		color: $white;
	}

	.ev-grid__col.ev-grid__col {
		margin-bottom: 16px;

		@include sm {
			margin-bottom: 0;
		}
	}
}

.ev-section--blue-light {
	background: $blue-light;
}

.sm-hidden {
	@include sm {
		display: none;
	}
}

.ev-hidden {
	overflow: hidden !important;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

hr {
	margin: 50px 0;
}

.hidden {
	display: none;
}
