*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

html,
body {
	position: relative;
	min-height: 100%;
	background: $blue-light;
	@include font-base();
	-webkit-font-smoothing: antialiased;
	font-family: 'Montserrat', 'Arial', sans-serif;
}

body {
	font-size: 1rem;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

.i-p-t-base {
	padding-top: 48px;

	@include md {
		padding-top: 60px;
	}

	@include md {
		padding-top: 88px;
	}
}

.i-p-inside {
	padding-bottom: 120px;
}

.i-p-t-sm {
	padding-top: 32px;

	@include sm {
		padding-top: 48px;
	}
}

.i-p-base {
	padding-bottom: 48px;
}

.i-p-sm {
	padding-bottom: 32px;

	@include sm {
		padding-bottom: 48px;
	}
}

.i-p-big {
	padding-bottom: 60px;

	@include md {
		padding-bottom: 175px;
	}
}

.i-p-decor {
	padding-bottom: $decor-h;

	@include md {
		padding-bottom: $decor-h + 88px;
	}
}

.no-indent {
	margin: 0 !important;
}

.main {
	overflow: hidden;
}

.ev-section {
	position: relative;
}

.ev-section--white {
	background: $white;
}

.ev-section--governance .ev-grid__col{
	margin-bottom: 24px;

	&:last-child {
		margin-bottom: 0;
	}

	@include sm {
		margin-bottom: 0;
	}
}

.ev-section--blog .ev-titles {
	margin-bottom: 20px;

	@include sm {
		margin-bottom: 30px;
	}

	@include md {
		margin-bottom: 34px;
	}
}

.ev-titles .ev-link {
	display: none;

	@include sm {
		display: block;
	}
}

.ev-titles h2 {
	margin-bottom: 0;
}

.ev-section--blue {
	background: $blue;
	color: $white;

	h2 {
		color: $white;
	}

	.ev-grid__col.ev-grid__col {
		margin-bottom: 16px;

		@include sm {
			margin-bottom: 0;
		}
	}
}

.ev-section--blue-light {
	background: $blue-light;
}

.sm-hidden {
	@include sm {
		display: none;
	}
}

.ev-hidden {
	overflow: hidden !important;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

hr {
	margin: 50px 0;
}

.hidden {
	display: none;
}

.container {
	width: 100%;
	max-width: $container-width;
	padding: 0 $container-padding-sm;
	margin: 0 auto;

	@include sm {
		padding: 0 $container-padding-md;
	}

	@include md {
		padding: 0 $container-padding;
	}
}

.container-half {
	padding: 0 $container-padding-sm;
	margin: 0 auto;

	@include sm {
		padding: 0 $container-padding-md;
	}

	@include md {
		padding: 0 $container-padding;
	}
}

h1, .h1 {
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;

	@include sm {
		font-size: 48px;
		line-height: 57px;
	}
}

h2, .h2 {
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;

	@include sm {
		font-size: 28px;
		line-height: 33px;
	}

	@include md {
		font-size: 48px;
		line-height: 57px;
	}
}

h3, .h3 {
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;

	@include sm {
		font-size: 28px;
		line-height: 33px;
	}

	@include md {
		font-size: 42px;
		line-height: 50px;
	}
}

h4, .h4 {
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;

	@include sm {
		font-size: 28px;
		line-height: 33px;
	}

	@include md {
		font-size: 36px;
		line-height: 43px;
	}
}

h5, .h5 {
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
}

h6, .h6 {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
}

.text-xs {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	@include sm {
		font-size: 16px;
		line-height: 19px;
	}
}

.text-s {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	@include sm {
		font-size: 16px;
		line-height: 19px;
	}

	@include md {
		font-size: 18px;
		line-height: 24px;
	}
}
.text-m {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;

	@include md {
		font-size: 18px;
		line-height: 26px;
	}
}

.text-l {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;

	@include sm {
		font-size: 24px;
		line-height: 29px;
	}
}

//price
.text-xl {
	font-size: 26px;
	line-height: 31px;
	font-weight: 700;
	letter-spacing: -0.04em;

	@include sm {
		font-size: 32px;
		line-height: 39px;
	}
}

//text rating
.text-m {
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;

	@include sm {
		font-size: 24px;
		line-height: 30px;
	}

	@include md {
		font-size: 18px;
		line-height: 30px;
	}
}

.text-xxs {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.title-block {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;

	@include sm {
		font-size: 30px;
		line-height: 36px;
	}
}

//text button
.button-xs {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
}

.button-s {
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;

	@include md {
		font-size: 18px;
		line-height: 21px;
	}
}

.text-sx {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	@include md {
		font-size: 18px;
		line-height: 21px;
	}
}