.faq-detail-s1 {
  padding: 25px 0 170px;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("/img/sup-bg.png");

  @include sm {
    padding: 50px 0 190px;
  }

  @include lg {
    padding: 60px 0 170px;
  }
}

.faq-detail-s1 .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include md {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: $indent-40 $indent-80;
    box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.15);
    border-radius: 10px;
  }
}

.row__col50 {
  width: 100%;
  position: relative;

  @include md {
    width: 45%;
  }
}

.row__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: $indent-30;

  @include sm {
    margin-bottom: $indent-20;
  }

  @include md {
    align-items: flex-start;
    margin-bottom: $indent-10;
  }
}

.row__top-title {
  margin-bottom: $indent-15;

  @include md {
    margin-bottom: $indent-20;
  }
}

.faq-detail-s1 .row__col50 .row__col50-images{
  margin-bottom: $indent-25;
  box-shadow: 10px 20px 50px rgba(20, 40, 96, 0.15);

  @include sm {
    margin-bottom: $indent-30;
  }

  @include lg {
    margin-bottom: $indent-60;
  }
}

.faq-detail-s1 .row__col50-desc {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $blue-bg;

  @include sm {
    font-size: 18px;
    line-height: 26px;
  }
}

.faq-detail-s1 .row__col50-desc:not(:last-child) {
  margin-bottom: $indent-20;
}

.faq-detail-s1 .faq-block {
  @include md {
    padding: $indent-15;
  }
}

.faq-detail-s1 .faq-block__icon {

  @include md {
    right: 15px;
  }
}

.row__top .data-time__date {
  color: $gray-tx;
}

.row__top a.text-s {
  color: $blue;
}

.row__top-right {
  display: flex;
  align-self: flex-end;
  margin-top: -20px;

  @include md {
    align-self: flex-start;
    padding-top: 10px;
    margin-top: 0;
  }
}

.faq-detail-s1 .row__col50:not(:last-child) {
  margin-bottom: $indent-50;

  @include md {
    margin-bottom: 0;
  }
}