.card-cd-s6 {
  padding: 30px 0 40px;
  background-color: $white;

  @include sm {
    padding: 45px 0 85px;
  }

  @include lg {
    padding: 60px 0 110px;
  }
}

.card-cd-s6 .h3 {
  padding-bottom: $indent-20;

  @include lg {
    padding-bottom: $indent-30;
  }
}